{{> components-pagelist.defaultBadgedSocial( id: "{{{ pageList2.componentId }}}",
                                       theme: "{{{ pageList2.componentTheme }}}",
                                       modifier: "{{{ pageList2.componentModifier }}}",
                                       modules: "{{{ pageList2.componentModules }}}",
                                       chevron: "{{{pageList2.componentChevron }}}",
                                       icon: "{{{ pageList2.componentIcon }}}" )}}
