{{> components-eventlist.cards( id: "{{{ eventList1.componentId }}}",
                                theme: "{{{ eventList1.componentTheme }}}",
                                modifier: "{{{ eventList1.componentModifier }}}",
                                modules: "{{{ eventList1.componentModules }}}",
                                chevron: "{{{ eventList1.componentChevron }}}",
                                icon: "{{{ eventList1.componentIcon }}}")}}
