%component-list {
  @include make-container(0);
  @include make-container-max-widths;
  // iPhone X support
  @include iphone-x;

  > .content {
    > ul,
    .owl-carousel:not(.owl-loaded) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include media-breakpoint-up(md) {
        margin-left: -($list-item-md-margin / 2);
        width: calc(100% + #{$list-item-md-margin});
      }

      @include media-breakpoint-up(lg) {
        margin-left: -($list-item-lg-margin / 2);
        width: calc(100% + #{$list-item-lg-margin});
      }
    }

    > ul > li,
    .owl-carousel > .item {
      flex: 0 1 100%;
      position: relative;
      width: 100%;
    }

    > ul {
      margin-bottom: -$list-item-margin;

      > li {
        margin-bottom: $list-item-margin;

        // stylelint-disable-next-line
        &::before {
          display: none;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: $list-item-md-margin;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: $list-item-lg-margin;
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: -$list-item-md-margin;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -$list-item-lg-margin;
      }
    }

    // When the carousel container has been build, hide the original list
    .owl-carousel + ul {
      display: none;
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant {
    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(4 / $grid-columns);
      max-width: percentage(4 / $grid-columns);
      padding-left: $list-item-md-margin / 2;
      padding-right: $list-item-md-margin / 2;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $list-item-lg-margin / 2;
      padding-right: $list-item-lg-margin / 2;
    }
  }

  // Normalize the list when the 'carousel' module is applied
  @extend %component-list-carousel;
}

%component-list-carousel {
  &.owl-ready .owl-carousel:not(.owl-loaded) {
    @include make-container-max-widths;

    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .owl-carousel {
    .owl-stage {
      display: flex;

      &-outer {
        margin-bottom: -20px;
        margin-left: -10px;
        padding-bottom: 20px;
        padding-left: 10px;
        width: calc(100% + 100% + 10px);
      }
    }

    .owl-item > .item,
    > .item {
      height: 100%;
      width: 100%;
    }

    .owl-item,
    > .item {
      display: flex;
      flex-basis: 272px;
      float: none;
      height: auto;
      max-width: 272px;
      min-height: 100%;
      min-width: 272px;
      transition: $transition-fade;

      &:not(.active) {
        opacity: .5;
        pointer-events: none;
      }

      @include media-breakpoint-up(md) {
        flex-basis: 260px;
        max-width: 260px;
        min-width: 260px;
      }

      @include media-breakpoint-up(xl) {
        flex-basis: 352px;
        max-width: 352px;
        min-width: 352px;
      }
    }

    &.owl-loaded {
      @include make-container-max-widths;

      margin-left: auto;
      margin-right: auto;
    }
  }

  @include not-aem-author {
    &[data-modules*='carousel'].owl-ready {
      margin-left: -15px;
      max-width: calc(100% + 30px);
      overflow-x: hidden;
      width: calc(100% + 30px);

      > .content {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    // &[data-list-split-enabled='true'] ul {
    //   @include media-breakpoint-down(sm) {
    //     &:not(.mobile-carousel) {
    //       display: none;
    //     }
    //   }

    //   @include media-breakpoint-up(md) {
    //     &.mobile-carousel {
    //       display: none;
    //     }
    //   }
    // }
  }
}
