%component-list {
  @include make-container(0);
  @include make-container-max-widths;
  // iPhone X support
  @include iphone-x;

  > .content {
    @include make-row;

    &,
    > ul {
      justify-content: flex-start;
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      width: 100%;

      li {
        // stylelint-disable-next-line
        &::before {
          display: none;
        }

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      @include media-breakpoint-up(md) {
        li:not(:last-child) {
          margin-bottom: 0;
        }

        &:not(:last-child) li {
          margin-bottom: 60px;
        }
      }
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant($selector-only: false) {
    @include make-col-ready;

    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(4 / $grid-columns);
      max-width: percentage(4 / $grid-columns);
    }
  }

  // Normalize the list when the 'carousel' module is applied
  @include not-aem-author {
    &[data-modules*='carousel'] {
      overflow-x: hidden;
      max-width: 100%;

      > .content,
      > .content ul {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }

      ul.owl-carousel {
        @include make-container(0);
        @include make-container-max-widths;

        display: block;
        visibility: hidden;

        .owl-stage {
          display: flex;

          &-outer {
            margin-bottom: -20px;
            padding-bottom: 20px;
            width: calc(100% + 100%);
          }
        }

        .owl-item {
          float: none;
          transition: $transition-fade;

          &:not(.active) {
            opacity: .5;
            pointer-events: none;
          }
        }

        .owl-item + .owl-item {
          margin-left: 15px;

          @include media-breakpoint-up(md) {
            margin-left: 20px;
          }

          @include media-breakpoint-up(lg) {
            margin-left: 25px;
          }
        }

        &.owl-loaded {
          visibility: visible;
        }
      }

      &[data-list-split-enabled='true'] ul {
        @include media-breakpoint-down(sm) {
          &:not(.mobile-carousel) {
            display: none;
          }
        }

        @include media-breakpoint-up(md) {
          &.mobile-carousel {
            display: none;
          }
        }
      }
    }
  }
}
