<div {{> components-componentAttributes(componentName: "pagelist",
                                        componentId: "{{{ id }}}",
                                        componentTheme: "{{{ theme }}}",
                                        componentModifier: "{{{ modifier }}}",
                                        componentModules: "{{{ modules }}}",
                                        componentChevron: "{{{ chevron }}}",
                                        componentIcon: "{{{ icon }}}",
                                        componentStyle: "{{{ style }}}") }}>
  <div class="content">
    <ul>
      <li class="first">
        <a href="#home" title="Page1">
          <i class="fa fa-home" title="Page1"></i>
          <span class="title">Home</span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page2">
          <i class="fa fa-life-ring" title="Page2"></i>
          <span class="title">Juggling life and uni?</span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page3">
          <i class="fa fa-search" title="Page3"></i>
          <span class="title">Find a course</span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page4">
          <i class="fa fa-edit" title="Page4"></i>
          <span class="title">Apply now</span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page5">
          <i class="fa fa-comments" title="Page5"></i>
          <span class="title">Contact us</span>
        </a>
      </li>
    </ul>
  </div>
</div>
