<div {{> components-componentAttributes( componentName: "eventlist",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}") }}
>
  <div class="content">
    <ul>
      {{# eventList1Cards }}
        <li class="first">
          <div class="card small {{eventStatus}}">
            <div class="card-icon">
              <i class="{{icon}}"></i>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{{title}}}</h3>
              <div class="card-date">
                <div class="col-1 date">
                  <p>{{{datetime}}}</p>
                </div>
              </div>
              <div class="card-text">
                <p>{{{description}}}</p>
              </div>
              <div class="card-action">
                <a class="card-link btn btn-primary {{status}}" href=""><span>{{{link}}}</span></a>
              </div>
            </div>
          </div>
        </li>
      {{/ eventList1Cards }}
    </ul>
  </div>
</div>
