<!-- Header -->
{{> components-header.containerOneColumn( theme: "{{{ header2.componentTheme }}}",
                                          modifier: "{{{ header2.componentModifier }}}",
                                          id: "{{{ header2.componentId }}}",
                                          style: "{{{ header2.componentStyle }}}",
                                          modules: "{{{ header2.componentModule }}}",
                                          text: "{{{ header2.text }}}") }}
<!-- Body -->
<div class="article">
  <article component="" data-layer-componentpath="article" class="article bg-c10" role="article" id="article_5GMYFN0QQ">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
      {{> components-pagedetails.default( id: "{{{ pagedetails2.componentId }}}",
                                          theme: "{{{ pagedetails2.componentTheme }}}",
                                          modifier: "{{{ pagedetails2.componentModifier }}}",
                                          modules: "{{{ pagedetails2.componentModules }}}",
                                          chevron: "{{{ pagedetails2.componentChevron }}}",
                                          icon: "{{{ pagedetails2.componentIcon }}}",
                                          style: "{{{ pagedetails2.backgroundImage }}}",
                                          text: "{{{ pagedetails2.text }}}",
                                          title: "{{{ pagedetails2.title }}}",
                                          description: "{{{ pagedetails2.description }}}",
                                          btnText: "{{{ pagedetails2.btnText }}}",
                                          btnHref: "{{{ pagedetails2.btnHref }}}",
                                          src: "{{{ pagedetails2.imageSrc }}}",
                                          alt: "{{{ pagedetails2.imageAlt }}}",
                                          btnModifier: "{{{ link7.componentModifier }}}") }}
      {{> components-contentblock.containerbanner( modifier: "{{{ contentblock18.componentTheme }}}",
                                                   linkHref: "{{{ contentblock18.linkHref }}}",
                                                   id: "{{{ contentblock18.componentId }}}",
                                                   style: "{{{ contentblock18.componentStyle }}}",
                                                   text: "{{{ contentblock18.text }}}",
                                                   linkText: "{{{ contentblock18.linkText }}}") }}
      {{> components-contentblock.containerCarousel( modifier: "{{{ contentblock9.componentModifier }}}",
                                                     modules: "{{{ pageList4.componentModules }}}",
                                                     theme: "{{{ pageList4.componentTheme }}}",
                                                     id: "{{{ contentblock9.componentId }}}",
                                                     text: "{{{ contentblock9.text }}}",
                                                     style: "{{{ contentblock9.componentStyle }}}") }}
      {{> components-contentblock.containerPageList( modifier: "{{{ contentblock8.componentModifier }}}",
                                                     theme: " {{{ pageList3.componentTheme }}}",
                                                     id: "{{{ contentblock8.componentId }}}",
                                                     style: "{{{ contentblock8.componentStyle }}}") }}
      {{> components-contentblock.containerbanner( modifier: "{{{ contentblock19.componentTheme }}}",
                                                   linkHref: "{{{ contentblock19.linkHref }}}",
                                                   id: "{{{ contentblock19.componentId }}}",
                                                   style: "{{{ contentblock19.componentStyle }}}",
                                                   text: "{{{ contentblock19.text }}}",
                                                   linkText: "{{{ contentblock19.linkText }}}") }}
      {{> components-contentblock.containerbanner( modifier: "{{{ contentblock19.componentTheme }}}",
                                                   linkHref: "{{{ contentblock20.linkHref }}}",
                                                   id: "{{{ contentblock20.componentId }}}",
                                                   style: "{{{ contentblock20.componentStyle }}}",
                                                   text: "{{{ contentblock20.text }}}",
                                                   linkText: "{{{ contentblock20.linkText }}}") }}
      {{> components-contentblock.containerbanner( modifier: "{{{ contentblock19.componentTheme }}}",
                                                   linkHref: "{{{ contentblock21.linkHref }}}",
                                                   id: "{{{ contentblock21.componentId }}}",
                                                   style: "{{{ contentblock21.componentStyle }}}",
                                                   text: "{{{ contentblock21.text }}}",
                                                   linkText: "{{{ contentblock21.linkText }}}") }}
      {{> components-contentblock.containerbanner( modifier: "{{{ contentblock22.componentTheme }}}",
                                                   linkHref: "{{{ contentblock22.linkHref }}}",
                                                   id: "{{{ contentblock22.componentId }}}",
                                                   style: "{{{ contentblock22.componentStyle }}}",
                                                   text: "{{{ contentblock22.text }}}",
                                                   linkText: "{{{ contentblock22.linkText }}}") }}
      {{> components-contentblock.accordionContainer( modifier: "{{{ contentblock17.componentModifier }}}",
                                                      modules: "{{{ contentblock17.componentModules }}}",
                                                      theme: "{{{ contentblock17.componentTheme }}}",
                                                      id: "{{{ contentblock17.componentId }}}" ) }}
    </div>
  </article>
  <!-- footer -->
  {{> components-footer.defaultTwoColumn( modifier: "{{{ footer6.componentModifier }}}",
                                          id: "{{{ footer6.componentId }}}",
                                          style: "{{{ footer6.componentStyle }}}",
                                          text: "{{{ footer6.text }}}",
                                          theme: "{{{ footer6.componentTheme }}}") }}
</div>
