{{> components-header.containerOneColumn( theme: "{{{ header2.componentTheme }}}",
                                          modifier: "{{{ header2.componentModifier }}}",
                                          id: "{{{ header2.componentId }}}",
                                          style: "{{{ header2.componentStyle }}}",
                                          modules: "{{{ header2.componentModule }}}",
                                          text: "{{{ header2.text }}}")
}}
{{> components-contentblock.containerBannerText( theme: "{{{ contentblock14.componentTheme }}}",
                                                 modifier: "{{{ contentblock14.componentModifier }}}",
                                                 id: "{{{ contentblock14.componentId }}}",
                                                 style: "{{{ contentblock14.componentStyle }}}",
                                                 text: "{{{ contentblock14.text }}}")
}}
{{> components-contentblock.oneColumnPageList( modifier: "{{{ contentblock15.componentModifier }}}",
                                                        modules: "{{{ contentblock15.componentModules }}}",
                                                        theme: "{{{ contentblock15.componentTheme }}}",
                                                        id: "{{{ contentblock15.componentId }}}",
                                                        text: "{{{ contentblock15.text }}}" )
}}
{{> components-footer.defaultTwoColumn( modifier: "{{{ footer6.componentModifier }}}",
                                        id: "{{{ footer6.componentId }}}",
                                        style: "{{{ footer6.componentStyle }}}",
                                        text: "{{{ footer6.text }}}",
                                        theme: "{{{ footer6.componentTheme }}}")
}}
