{{> components-header.containerOneColumn( theme: "{{{ header2.componentTheme }}}",
                                          modifier: "{{{ header2.componentModifier }}}",
                                          id: "{{{ header2.componentId }}}",
                                          style: "{{{ header2.componentStyle }}}",
                                          modules: "{{{ header2.componentModule }}}",
                                          text: "{{{ header2.text }}}") }}
{{> components-pagedetails.default( id: "{{{ pagedetails1.componentId }}}",
                                    theme: "{{{ pagedetails1.componentTheme }}}",
                                    modifier: "{{{ pagedetails1.componentModifier }}}",
                                    modules: "{{{ pagedetails1.componentModules }}}",
                                    chevron: "{{{ pagedetails1.componentChevron }}}",
                                    icon: "{{{ pagedetails1.componentIcon }}}",
                                    style: "{{{ pagedetails1.backgroundImage }}}",
                                    text: "{{{ pagedetails1.text }}}",
                                    title: "{{{ pagedetails1.title }}}",
                                    description: "{{{ pagedetails1.description }}}",
                                    btnText: "{{{ pagedetails1.btnText }}}",
                                    btnHref: "{{{ pagedetails1.btnHref }}}",
                                    src: "{{{ pagedetails1.imageSrc }}}",
                                    alt: "{{{ pagedetails1.imageAlt }}}",
                                    btnModifier: "{{{ link7.componentModifier }}}") }}
{{> components-contentblock.containerCarousel( modifier: "{{{ contentblock9.componentModifier }}}",
                                               modules: "{{{ pageList4.componentModules }}}",
                                               theme: "{{{ pageList4.componentTheme }}}",
                                               id: "{{{ contentblock9.componentId }}}",
                                               text: "{{{ contentblock9.text }}}",
                                               style: "{{{ contentblock9.componentStyle }}}") }}
{{> components-contentblock.containerbanner( modifier: "{{{ contentblock2.componentTheme }}}",
                                             linkHref: "{{{ contentblock2.linkHref }}}",
                                             id: "{{{ contentblock2.componentId }}}",
                                             style: "{{{ contentblock2.componentStyle }}}",
                                             text: "{{{ contentblock2.text }}}",
                                             linkText: "{{{ contentblock2.linkText }}}") }}
{{> components-contentblock.containerPageList( modifier: "{{{ contentblock8.componentModifier }}}",
                                               theme: " {{{ pageList3.componentTheme }}}",
                                               id: "{{{ contentblock8.componentId }}}",
                                               style: "{{{ contentblock8.componentStyle }}}") }}
{{> components-contentblock.containerbanner( modifier: "{{{ contentblock1.componentTheme }}}",
                                             linkHref: "{{{ contentblock1.linkHref }}}",
                                             id: "{{{ contentblock1.componentId }}}",
                                             style: "{{{ contentblock1.componentStyle }}}",
                                             text: "{{{ contentblock1.text }}}",
                                             linkText: "{{{ contentblock1.linkText }}}") }}
{{> components-contentblock.containerFormIframe( modifier: "{{{ contentblock10.componentModifier }}}",
                                           modules: "{{{ contentblock10.componentModules }}}",
                                           theme: "{{{ contentblock10.componentTheme }}}",
                                           id: "{{{ contentblock10.componentId }}}",
                                           text: "{{{ contentblock10.text }}}",
                                           src: "{{{ contentblock10.src }}}",
                                           alt: "{{{ contentblock10.alt }}}",
                                           formTheme: "{{{ form1.componentTheme }}}",
                                           style: "{{{ contentblock10.componentStyle }}}" )}}
{{> components-contentblock.containerbanner( modifier: "{{{ contentblock3.componentTheme }}}",
                                             linkHref: "{{{ contentblock3.linkHref }}}",
                                             id: "{{{ contentblock3.componentId }}}",
                                             style: "{{{ contentblock3.componentStyle }}}",
                                             text: "{{{ contentblock3.text }}}",
                                             linkText: "{{{ contentblock3.linkText }}}") }}
{{> components-footer.defaultTwoColumn( modifier: "{{{ footer6.componentModifier }}}",
                                        id: "{{{ footer6.componentId }}}",
                                        style: "{{{ footer6.componentStyle }}}",
                                        text: "{{{ footer6.text }}}",
                                        theme: "{{{ footer6.componentTheme }}}") }}

