<div id="guideContainer-{{{ panelPath }}}-{{{ name }}}___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-{{{ panelPath }}}__">
  <div class="guidetextdraw guidefield">
    <div {{> components-formFieldAttributes( name: "{{{ name }}}", css: "{{{ modifier }}}", panelPath: "{{{ panelPath }}}", type: "{{{ type }}}" ) }}>
      {{{ text }}}
    </div>
  </div>
</div>
