<div  {{> components-componentAttributes( componentName: "onlinemedia",
                                          componentId: "{{{ id }}}",
                                          componentTheme: "{{{ theme }}}",
                                          componentModifier: "{{{ modifier }}}",
                                          componentModules: "{{{ modules }}}",
                                          componentChevron: "{{{ chevron }}}",
                                          componentIcon: "{{{ icon }}}",
                                          componentStyle: "{{{ style }}}" ) }}
                                          id="onlinemedia1"
                                          data-mediaprovider="{{{ provider }}}"
                                          data-mediapartnerid="{{{ partnerId }}}"
                                          data-mediaplayerid="{{{ playerId }}}"
                                          data-mediaid="{{{ entryId }}}"
                                          data-mediatitle="{{{ title }}}"
                                          width="{{{width}}}"
                                          height="{{{height}}}")
  >

  <div class="contents"></div>

</div>


