<div class="container my-5">
  <div class="row">
    <h1>{{ images_title }}</h1>
  </div>
</div>
<div class="container my-5">
  <h2>Image full width</h2>
</div>
<img class="img-full" src="https://www.swinburne.edu.au/infoevening/_assets/images/apply-now.jpg"/>
