&--hero-banner {
  background-size: contain;
  background-position: top center;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 100;

    @include media-breakpoint-down(sm) {
      padding-top: map-get($container-spacers, 'sm' );
    }
  }

  .shape {
    position: absolute;
    bottom: -65px;
    right: -65px;
    width: 100%;
    overflow: hidden;
    
    &--svg {
      display: block;
      width: 100%;
      position: relative;
      bottom: rem-calc(0px);
    }
  }

  .image {
    position: relative;
  }
}
