{
  "comments": true,
  "compact": "auto",
  "retainLines": true,

  "presets": [
    ["@babel/preset-react"],
    ["@babel/preset-env", {
      "modules": "umd",
      "useBuiltIns": "usage"
    }]
  ],

  "plugins": [
    "react-hot-loader/babel"
  ]
}
