{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],

  "plugins": [
    "@typescript-eslint"
  ],

  "parser": "@typescript-eslint/parser",

  "env": {
    "node": true,
    "builtin": true,
    "es6": true
  },

  "globals": {
    "document": true,
    "window": true,
    "$": true,
    "jQuery": true,
    "JSONPath": true,
    "PubSub": true,
    "urlParser": true,
    "FastClick": true,
    "objectFitImages": true
  },

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    "@typescript-eslint/indent": [1, 2, {"SwitchCase": 1, "VariableDeclarator": 1}]
  }
}
