figure {
  img {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}

picture {
  img {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}

.bg-c10 {
  background: url("https://www.swinburne.edu.au/media/swinburneeduau/style-assets/images/concrete_seamless.gif") repeat;
}
