<div {{> components-componentAttributes( componentName: "form",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}
>
<form id="guideContainerForm" autocomplete="off" data-replaceable-tag="guideContainerForm" data-iframe-height="">
  <div id="intergration"></div>
  <div id="actionField">
    <input type="hidden" id=":redirect" name=":redirect" value="/content/forms/af/swinburne-showcase/jie/jcr:content/guideContainer.guideThankYouPage.html">
    <input type="hidden" id=":selfUrl" name=":selfUrl" value="/content/swinburne-showcase/en/component/forms/aemform">
    <input type="hidden" id="guideValueMap" name="_guideValueMap" value="yes">
  </div>
  <div class="guideContainerWrapperNode guideContainerNode container" data-path="/content/forms/af/swinburne-showcase/jie/jcr:content/guideContainer" data-guide-test-data="null" data-tmproot="42a47ccf-07df-4ef4-9a25-aff96d94afd4">
    <div class="guideContainerNode">
      <div class="step mobileLayout">
        <div class="visible-xs">
          <div class="rootPanel step">
            <ol class="wizard-navigators">
              <li data-guide-id="guideContainer-rootPanel-guideheader___guide-item-nav" title="Adaptive Form Header" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Adaptive Form Header</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guideradiobutton___guide-item-nav" title="Are you an international students? *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Are you an international students? *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidetextbox___guide-item-nav" title="First name *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>First name *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidetextbox_1915379945___guide-item-nav" title="Last name *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Last name *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guideemail___guide-item-nav" title="Email address *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Email address *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-panel___guide-item-nav" title="mobile number" data-guide-parent-id="guideContainer-rootPanel__">
                <a class="form-columns-override_nav guideNavIcon" tabindex="0">
                  <span>mobile number</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidedropdownlist___guide-item-nav" title="Country of residences *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Country of residences *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidetextdraw___guide-item-nav" title=" " data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span> </span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidedropdownlist_99652624___guide-item-nav" title="Which best describes you? *" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Which best describes you? *</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidedropdownlist_548774665___guide-item-nav" title="What is your highest qualification? *&nbsp;" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>What is your highest qualification? *&nbsp;</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidetextbox_1682134043___guide-item-nav" title="Secondary school" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Secondary school</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidedropdownlist_1973792047___guide-item-nav" title="Area of interest" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Area of interest</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-guidedropdownlist_1750403180___guide-item-nav" title="Intended course" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Intended course</span>
                </a>
              </li>
              <li data-guide-id="guideContainer-rootPanel-submit___guide-item-nav" title="Submit" data-guide-parent-id="guideContainer-rootPanel__">
                <a class=" guideNavIcon">
                  <span>Submit</span>
                </a>
              </li>
            </ol>
          </div>
        </div>
        <div id="guide-mobile-navigator-wrapper" class="guide-mobile-navigator">
          <div class="row">
            <div class="clearfix visible-xs">
              <button type="button" class="navigator-toggle af-icon-button collapsed" data-toggle="collapse" data-target="#guide-mobile-navigator" aria-label="menu" data-original-title="" title="">
                <span class="guideMenuIcon"></span>
              </button>
            </div>
          </div>
          <div id="guide-mobile-navigator" class="visible-xs collapse" style="height: 0px;">
            <ul class="tab-navigators tab-navigators-mobile" data-guide-id="guideContainer-rootPanel___guide-item-nav-container">
              <div id="im_guideContainer-rootPanel-panel__" style="display: none" data-guide-template-marker="true"></div>
              <li data-guide-id="guideContainer-rootPanel-panel___guide-item-nav" title="mobile number" data-path="/content/forms/af/swinburne-showcase/jie/jcr:content/guideContainer/rootPanel/items/panel" data-guide-parent-id="guideContainer-rootPanel__">
                <a data-guide-toggle="tab" data-toggle="collapse" data-target="#guide-mobile-navigator" tabindex="0">
                  mobile number
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="guide-header-bar-wrapper">
          <div class="guide-header-bar visible-xs">
            <div class="guide-breadcrumb" data-target-guide-content="guide-active-panel">
            </div>
            <div class="guide-nav-toolbar">
              <div class="guide-nav-prev guide-nav-toolbar-button" data-guide-wizard-nav="{&quot;focusOption&quot;: &quot;prevItemDeep&quot;, &quot;runCompletionScript&quot;: true, &quot;skipFieldFocus&quot;: true}" aria-label="previous" role="button">
              </div>
              <div class="guide-nav-next guide-nav-toolbar-button" data-guide-wizard-nav="{&quot;focusOption&quot;: &quot;nextItemDeep&quot;, &quot;runCompletionScript&quot;: true, &quot;skipFieldFocus&quot;: true}" aria-label="next" role="button">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rootPanel">
        <div class="guideRootPanel guideRootPanel" id="guideContainer-rootPanel__" data-path="/content/forms/af/swinburne-showcase/jie/jcr:content/guideContainer/rootPanel" data-guide-view-bind="guideContainer-rootPanel__">
          <div class="gridFluidLayout">
            <div id="guideContainer-rootPanel___guide-item-container" class="guideLayout guideGridFluidLayout">
              <div class="row">
                <div id="guideContainer-rootPanel-guideheader___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guideheader">
                    <div class="afHeader">
                      <div class="container">
                        <div class="guidetextdraw guidefield">
                          <div class="guideFieldNode  guideTextDraw headerText headerText guideStaticText" id="guideContainer-rootPanel-guideheader-guidetextdraw__" style=";" data-guide-view-bind="guideContainer-rootPanel-guideheader-guidetextdraw__">
                            <p>REGISTER MY PLACE</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guideradiobutton___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guideradiobutton guidefield">
                    <div class="guideFieldNode  guideCheckBox radiobutton1532307921512              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guideradiobutton__" data-guide-view-bind="guideContainer-rootPanel-guideradiobutton__" style="" data-disabled="false" role="radiogroup">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guideradiobutton___widget" id="guideContainer-rootPanel-guideradiobutton___label">Are you an international students? *</label>
                      </div>
                      <div class="guideRadioButtonGroupItems" style=";">
                        <div class="guideRadioButtonItem afRadioButtonItem guideFieldHorizontalAlignment  radiobutton1532307921512" data-original-title="" title="">
                          <div class="guideFieldWidget left XfaCheckBox" data-id="1" data-original-title="" title="">
                            <input type="radio" id="guideContainer-rootPanel-guideradiobutton__-1_widget" name="guideContainer-rootPanel-guideradiobutton___jqName" tabindex="0" aria-label="No" aria-selected="false" placeholder="" style="position: relative;">
                          </div>
                          <div class="guideWidgetLabel right">
                            <label>No</label>
                          </div>
                        </div>
                        <div class="guideRadioButtonItem afRadioButtonItem guideFieldHorizontalAlignment  radiobutton1532307921512" data-original-title="" title="">
                          <div class="guideFieldWidget left XfaCheckBox" data-id="2" data-original-title="" title="">
                            <input type="radio" id="guideContainer-rootPanel-guideradiobutton__-2_widget" name="guideContainer-rootPanel-guideradiobutton___jqName" tabindex="0" aria-label="Yes" aria-selected="false" placeholder="" style="position: relative;">
                          </div>
                          <div class="guideWidgetLabel right">
                            <label>Yes</label>
                          </div>
                        </div>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidetextbox___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidetextbox guidefield">
                    <div class="guideFieldNode  guideTextBox textbox1532308028345              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidetextbox__" data-guide-view-bind="guideContainer-rootPanel-guidetextbox__" style="" data-mandatory="true" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidetextbox___widget" id="guideContainer-rootPanel-guidetextbox___label">First name *</label>
                      </div>
                      <div class="guideFieldWidget textField" style="" data-original-title="" title="">
                        <input type="text" autocomplete="off" id="guideContainer-rootPanel-guidetextbox___widget" name="guideContainer-rootPanel-guidetextbox___jqName" style="position: relative;" placeholder="First name" tabindex="0" aria-label="First name *" aria-required="true">
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidetextbox_1915379945___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidetextbox guidefield">
                    <div class="guideFieldNode  guideTextBox textbox_19153799451532308059249              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidetextbox_1915379945__" data-guide-view-bind="guideContainer-rootPanel-guidetextbox_1915379945__" style="" data-mandatory="true" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidetextbox_1915379945___widget" id="guideContainer-rootPanel-guidetextbox_1915379945___label">Last name *</label>
                      </div>
                      <div class="guideFieldWidget textField" style="" data-original-title="" title="">
                        <input type="text" autocomplete="off" id="guideContainer-rootPanel-guidetextbox_1915379945___widget" name="guideContainer-rootPanel-guidetextbox_1915379945___jqName" style="position: relative;" placeholder="Last name" tabindex="0" aria-label="Last name *" aria-required="true">
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guideemail___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guideemail guidetextbox guidefield">
                    <div class="guideFieldNode  guideTextBox email1532308111222              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guideemail__" data-guide-view-bind="guideContainer-rootPanel-guideemail__" style="" data-mandatory="true" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guideemail___widget" id="guideContainer-rootPanel-guideemail___label">Email address *</label>
                      </div>
                      <div class="guideFieldWidget textField guideEmail" data-original-title="" title="">
                        <input type="email" id="guideContainer-rootPanel-guideemail___widget" autocomplete="email" name="guideContainer-rootPanel-guideemail___jqName" placeholder="Email address" tabindex="0" aria-label="Email address *" aria-required="true" style="position: relative;">
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="im_guideContainer-rootPanel-panel__" style="display: none" data-guide-template-marker="true"></div>
                <div id="guideContainer-rootPanel-panel___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="panel">
                    <div class="guidePanelNode panel1532308618054  form-columns-override" id="guideContainer-rootPanel-panel__" data-path="/content/forms/af/swinburne-showcase/jie/jcr:content/guideContainer/rootPanel/items/panel" style=";" data-guide-view-bind="guideContainer-rootPanel-panel__">
                      <div class="gridFluidLayout">
                        <div id="guideContainer-rootPanel-panel___guide-item-container" class="guideLayout guideGridFluidLayout">
                          <div class="guidePanelDescription guideGridFluidDescription" style="">
                            Mobile number
                          </div>
                          <div class="row">
                            <div id="guideContainer-rootPanel-panel-guidedropdownlist___guide-item" class="col-md-6 active" data-guide-parent-id="guideContainer-rootPanel-panel__">
                              <div class="guidedropdownlist guidefield">
                                <div class="guideFieldNode  guideDropDownList dropdownlist1532308770985              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-panel-guidedropdownlist__" data-guide-view-bind="guideContainer-rootPanel-panel-guidedropdownlist__" style="" data-disabled="false">
                                  <div class="guideFieldLabel top" style="">
                                    <label for="guideContainer-rootPanel-panel-guidedropdownlist___widget" id="guideContainer-rootPanel-panel-guidedropdownlist___label"></label>
                                  </div>
                                  <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                                    <select name="guideContainer-rootPanel-panel-guidedropdownlist___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="dropdownlist1532308770985" id="guideContainer-rootPanel-panel-guidedropdownlist___widget">
                                      <option id="emptyValue" role="option" value="" style="display: none;"></option>
                                    </select>
                                  </div>
                                  <div class="guideFieldError">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="guideContainer-rootPanel-panel-guidetelephone___guide-item" class="col-md-6" data-guide-parent-id="guideContainer-rootPanel-panel__">
                              <div class="guidetelephone guidetextbox guidefield">
                                <div class="guideFieldNode  guideTextBox telephone1532308230971              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-panel-guidetelephone__" data-guide-view-bind="guideContainer-rootPanel-panel-guidetelephone__" style="" data-mandatory="true" data-disabled="false">
                                  <div class="guideFieldWidget textField guideTelephone telephoneWidget" data-original-title="" title="">
                                    <input type="tel" id="guideContainer-rootPanel-panel-guidetelephone___widget" autocomplete="tel" name="phone" placeholder="Mobile number" tabindex="0" aria-label="Telephone *" aria-required="true" style="position: relative;">
                                  </div>
                                  <div class="guideFieldError">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="section afEditorPlaceholder cq-placeholder" data-emptytext="mobile number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidedropdownlist___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidedropdownlist guidefield">
                    <div class="guideFieldNode  guideDropDownList dropdownlist1532308436825              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidedropdownlist__" data-guide-view-bind="guideContainer-rootPanel-guidedropdownlist__" style="" data-mandatory="true" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidedropdownlist___widget" id="guideContainer-rootPanel-guidedropdownlist___label">Country of residences *</label>
                      </div>
                      <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                        <select name="guideContainer-rootPanel-guidedropdownlist___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="Country of residences *" id="guideContainer-rootPanel-guidedropdownlist___widget" aria-required="true">
                          <option id="emptyValue" role="option" value="">Country of residence</option>
                        </select>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidetextdraw___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidetextdraw guidefield">
                    <div class="guideFieldNode  guideTextDraw textdraw1532308536197  guideStaticText af-field-filled" id="guideContainer-rootPanel-guidetextdraw__" style=";" data-guide-view-bind="guideContainer-rootPanel-guidetextdraw__" data-disabled="false">
                      <p><sup>†</sup>&nbsp;Note: If you are already in Australia on a student visa, select Australia as your country of residence</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidedropdownlist_99652624___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidedropdownlist guidefield">
                    <div class="guideFieldNode  guideDropDownList dropdownlist_996526241532308981404              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidedropdownlist_99652624__" data-guide-view-bind="guideContainer-rootPanel-guidedropdownlist_99652624__" style="" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidedropdownlist_99652624___widget" id="guideContainer-rootPanel-guidedropdownlist_99652624___label">Which best describes you? *</label>
                      </div>
                      <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                        <select name="guideContainer-rootPanel-guidedropdownlist_99652624___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="Which best describes you? *" id="guideContainer-rootPanel-guidedropdownlist_99652624___widget">
                          <option id="emptyValue" role="option" value="">Select an option </option>
                        </select>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidedropdownlist_548774665___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidedropdownlist guidefield">
                    <div class="guideFieldNode  guideDropDownList dropdownlist_5487746651532309093356              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidedropdownlist_548774665__" data-guide-view-bind="guideContainer-rootPanel-guidedropdownlist_548774665__" style="" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidedropdownlist_548774665___widget" id="guideContainer-rootPanel-guidedropdownlist_548774665___label">What is your highest qualification? *&nbsp;</label>
                      </div>
                      <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                        <select name="guideContainer-rootPanel-guidedropdownlist_548774665___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="What is your highest qualification? *&nbsp;" id="guideContainer-rootPanel-guidedropdownlist_548774665___widget">
                          <option id="emptyValue" role="option" value="">Select an option </option>
                        </select>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidetextbox_1682134043___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidetextbox guidefield">
                    <div class="guideFieldNode  guideTextBox textbox_16821340431532309161836              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidetextbox_1682134043__" data-guide-view-bind="guideContainer-rootPanel-guidetextbox_1682134043__" style="" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidetextbox_1682134043___widget" id="guideContainer-rootPanel-guidetextbox_1682134043___label">Secondary school</label>
                      </div>
                      <div class="guideFieldWidget textField" style="" data-original-title="" title="">
                        <input type="text" autocomplete="off" id="guideContainer-rootPanel-guidetextbox_1682134043___widget" name="guideContainer-rootPanel-guidetextbox_1682134043___jqName" style="position: relative;" placeholder="Start typing for suggestions..." tabindex="0" aria-label="Secondary school">
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidedropdownlist_1973792047___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidedropdownlist guidefield">
                    <div class="guideFieldNode  guideDropDownList dropdownlist_19737920471532309235042              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidedropdownlist_1973792047__" data-guide-view-bind="guideContainer-rootPanel-guidedropdownlist_1973792047__" style="" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidedropdownlist_1973792047___widget" id="guideContainer-rootPanel-guidedropdownlist_1973792047___label">Area of interest</label>
                      </div>
                      <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                        <select name="guideContainer-rootPanel-guidedropdownlist_1973792047___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="Area of interest" id="guideContainer-rootPanel-guidedropdownlist_1973792047___widget">
                          <option id="emptyValue" role="option" value="">Select an option </option>
                        </select>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-guidedropdownlist_1750403180___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="guidedropdownlist guidefield">
                    <div class="guideFieldNode  guideDropDownList dropdownlist_17504031801532309342433              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-guidedropdownlist_1750403180__" data-guide-view-bind="guideContainer-rootPanel-guidedropdownlist_1750403180__" style="" data-disabled="false">
                      <div class="guideFieldLabel top" style="">
                        <label for="guideContainer-rootPanel-guidedropdownlist_1750403180___widget" id="guideContainer-rootPanel-guidedropdownlist_1750403180___label">Intended course</label>
                      </div>
                      <div class="guideFieldWidget dropDownList" style="" data-original-title="" title="">
                        <select name="guideContainer-rootPanel-guidedropdownlist_1750403180___jqName" style="position: relative;" size="1" role="combobox" tabindex="0" aria-label="Intended course" id="guideContainer-rootPanel-guidedropdownlist_1750403180___widget">
                          <option id="emptyValue" role="option" value="">Select a study area to filter</option>
                        </select>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="guideContainer-rootPanel-submit___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-rootPanel__">
                  <div class="submit guidebutton guidefield">
                    <div class="guideFieldNode  guideButton submit1532309421040              defaultFieldLayout af-field-empty" id="guideContainer-rootPanel-submit__" data-guide-view-bind="guideContainer-rootPanel-submit__" style="" data-disabled="false">
                      <div class="guideFieldWidget guideFieldButtonWidget xfaButton" style="" data-original-title="" title="">
                        <button class="button-default button-medium submit" type="submit" id="guideContainer-rootPanel-submit___widget" name="guideContainer-rootPanel-submit___jqName" style="position: relative;" tabindex="0" aria-label="Submit" placeholder="" data-original-title="" title="">
                          <span class="iconButton-icon"></span>
                          <span class="iconButton-label" data-guide-button-label="true" style="">Submit</span>
                        </button>
                      </div>
                      <div class="guideFieldError">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section afEditorPlaceholder cq-placeholder" data-emptytext="Root Panel">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" class="guideContainerFormSubmitButton" style="display : none;">
</form>
</div>
