{{> components-contentblock.containerbanner(modifier: "{{{ contentblock1.componentTheme }}}", linkHref: "{{{ contentblock1.linkHref }}}", id: "{{{ contentblock1.componentId }}}", style: "{{{ contentblock1.componentStyle }}}", text: "{{{ contentblock1.text }}}", linkText: "{{{ contentblock1.linkText }}}") }}
