<div {{> components-componentAttributes( componentName: "contentblock", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid"><!--aemdesign/components/layout/container-->
      {{> components-text.default( text: "{{{ text }}}", modifier: "{{{text1.componentModifier}}}", id: "{{{text1.componentId}}}") }}
      {{> components-link.button( label: "{{ linkText }}", href: "{{ linkHref }}", modifier: "{{{link7.componentModifier}}}", id: "{{{link7.componentId}}}") }}
    </div>
  </div>
</div>


