%yellow-foil {
  background-color: theme-color('c2');
  background-image: url(../images/patterns/foil-yellow.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%yellow-card-body {
  *:not(.btn) {
    color: $tertiary;
  }
}

%charcoal-card-body {
  background: $tertiary;

  *:not(.card-tags) {
    color: $white;
  }

  .card-tags {
    color: darken($secondary, 20%);
  }
}
