<a {{> components-componentAttributes( componentName: "link", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}" ) }}
  href="{{{ href }}}">{{{label}}}</a>
