

$colors:
  $primary, // 1
  $secondary, // 2
  $tertiary, // 3
  $color-4, // 4
  $color-5, // 5
  $color-6, // 6
  $color-7, // 7
  $primary-50, // 8
  $secondary-50, // 9
  $color-4-50, // 10
  $color-5-50, // 11
  $color-6-50, // 12
  $color-7-50, // 13
  $grey-2, // 14
  $grey-3, // 15
  $grey-4, // 16
  $grey-5, // 17
  $grey-6; // 18

@each $color in $colors {
  $index: index($colors, $color);
  .bg-c#{$index} {
    background-color: #{$color} !important;
  }
}


.bg-parallax {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll !important;
}

.bg-dark {
  background-color: $tertiary !important;
  *:not(a){
    color: $white;
  }
  table {
    &, td, tr, th {
      border-color: $white;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-between($breakpoint, $breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $position in 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 {
      .bg-posx-#{$position}#{$infix} {
        background-position-x: #{$position}% !important;
      }
    }
  }
}
