.link {
  > span {
    align-items: center;
    display: flex;
    width: 100%;
  }

  &:not(.btn):not(.navbar-toggler):not([class*='icon-']) {
    align-items: center;
    display: inline-flex;
    font-weight: 600;

    // Icon
    .icon {
      font-size: 16px;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }

    @include hover {
      text-decoration: none;
    }
  }
}
