a.link[component]:not(.btn) {
  align-items: center;
  color: $primary;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;

  &,
  &:hover {
    text-decoration: none;
  }

  // Icon
  .icon {
    font-size: 16px;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 14px;
    line-height: 30px;
  }
}
