// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.newslist {
  > .content > ul {
    @include make-row;

    padding-left: 0;

    > li {
      @include make-col-ready;
      @include make-col(12);

      margin-bottom: $spacing-sm;

      &::before {
        display: none;
      }

      @include media-breakpoint-up(md) {
        @include make-col(6);
      }

      @include media-breakpoint-up(xl) {
        @include make-col(4);
      }
    }
  }
}
