// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

// @mixin removeTopPadding() {
//   .card {
//     &,
//     .card-body {
//       padding-top: 0;
//     }
//   }
// }

// $border-color: #1d1f20;

@mixin pagelist-variant($selector: false, $selector-only: true) {
  $selector : if($selector != false, unquote($selector), $selector);

  @if $selector-only == true {
    #{if($selector != false, unquote($selector), '')} > .content {
      > ul > li,
      > div {
        @content;
      }
    }
  }
  @else {
    &#{if($selector != false, unquote($selector), '')} > .content {
      > ul > li,
      > div {
        @content;
      }
    }
  }
}

.pagelist {
  > .content {
    &,
    > ul {
      justify-content: flex-start;
    }

    > ul {
      @include list-unstyled;

      margin-bottom: 0;
      width: 100%;

      li:not(:last-child) {
        margin-bottom: 40px;
      }

      @include media-breakpoint-up(md) {
        li:not(:last-child) {
          margin-bottom: 0;
        }

        &:not(:last-child) li {
          margin-bottom: 60px;
        }
      }
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant($selector-only: false) {
    @include make-col-ready;

    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(3 / $grid-columns);
      max-width: percentage(3 / $grid-columns);
    }
  }

  // Normalize the list when the 'carousel' module is applied
  &[data-modules*='carousel'] {
    ul.owl-carousel {
      display: block;
      visibility: hidden;

      .owl-item:last-child {
        margin-right: 0 !important;
      }

      &.owl-loaded {
        visibility: visible;
      }
    }

    &[data-list-split-enabled='true'] ul {
      @include media-breakpoint-down(sm) {
        &:not(.mobile-carousel) {
          display: none;
        }
      }

      @include media-breakpoint-up(md) {
        &.mobile-carousel {
          display: none;
        }
      }
    }
  }

  // If the page list component isn't currently been used as a carousel we can introduce
  // standard grid container rules.
  &:not([data-modules*='carousel']) {
    @include make-container;
    @include make-container-max-widths;

    // iPhone X support
    @include iphone-x;

    > .content {
      @include make-row;

      > ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }












  // &.theme--list-media,
  // &.theme--list-images {
  //   &.pagelist {
  //     max-width: 100%;
  //     width: 100%;
  //     padding: 0 0 20px 0;
  //     @include media-breakpoint-up(md) {
  //       padding: 50px 0;
  //     }
  //     @include media-breakpoint-up(lg) {
  //       width: 85%;
  //     }
  //     @include media-breakpoint-up(xl) {
  //       width: 90%;
  //     }
  //     & > .content {
  //       margin-right: 0;
  //       margin-left: 0;
  //     }
  //     [class*="fancybox-"] {
  //       &:before {
  //         content: "\f144";
  //         display: inline-block;
  //         font-family: $font-family-awesome-solid;
  //         font-size: 14px;
  //         margin-right: 6px;
  //         color: $white;
  //       }
  //     }
  //   }
  //   .owl-carousel {
  //     width: 80%;
  //     margin: 0 auto;
  //     @include media-breakpoint-up(xl) {
  //       width: 100%;
  //     }
  //     .owl-dot {
  //       display: none;
  //     }
  //     .owl-item {
  //       @include media-breakpoint-up(xl) {
  //         height: 450px;
  //       }
  //     }
  //     .owl-nav {
  //       & > button {
  //         position: absolute;
  //         width: 65px;
  //         top: 50%;
  //         transform: translateY(-50%);
  //         margin: 0;
  //         border-radius: 0;
  //         outline: 0;
  //         border: 0;
  //         &:hover {
  //           background: rgba(139,140,146,0.2);
  //         }
  //         &,
  //         & > span:before {
  //           height: 105px;
  //         }
  //         & > span {
  //           font-size: 0;
  //           &:before {
  //             display: block;
  //           }
  //         }
  //         &.owl-prev {
  //           left: 0;
  //           margin-left: -67px;
  //           & > span:before {
  //             content: url("https://www.swinburne.edu.au/choose/_assets/images/left-arrow.png");
  //           }
  //         }
  //         &.owl-next {
  //           right: 0;
  //           margin-right: -67px;
  //           & > span:before {
  //             content: url("https://www.swinburne.edu.au/choose/_assets/images/right-arrow.png");
  //           }
  //         }
  //         @include media-breakpoint-down(lg) {
  //           width: 32px;
  //           &,
  //           & > span:before {
  //             height: 52px;
  //           }
  //           &.owl-prev {
  //             margin-left: -33px;
  //             & > span:before {
  //               content: url("https://www.swinburne.edu.au/choose/_assets/images/left-arrow-responsive.png");
  //             }
  //           }
  //           &.owl-next {
  //             margin-right: -33px;
  //             & > span:before {
  //               content: url("https://www.swinburne.edu.au/choose/_assets/images/right-arrow-responsive.png");
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .card,
  //   .card-body {
  //     background-color: transparent;
  //   }
  //   .card-img-top {
  //     z-index: 1;
  //     position: absolute;
  //   }
  //   .card-body {
  //     z-index: 2;
  //     margin-bottom: -18px;
  //     margin-top: 65%;
  //     padding: 15px 0;
  //     @include media-breakpoint-up(lg) {
  //       margin-top: 50%;
  //     }
  //     background-color: rgba(0, 0, 0, 0.5);
  //     * {
  //       color: $white;
  //       text-align: center;
  //     }
  //     h3 {
  //       display: block;
  //       text-transform: uppercase;
  //       font-size: 18px;
  //       font-weight: bold;
  //       line-height: 22px;
  //       margin: 0;
  //     }
  //     .card-text,
  //     h3 {
  //       padding: 12px 20px;
  //     }
  //     .card-text {
  //       font-size: 14px;
  //       padding-top: 0;
  //       margin: 0;
  //       @include media-breakpoint-down(lg) {
  //         display: none;
  //       }
  //     }
  //     .btn {
  //       font-size: 12px;
  //       margin: 0 auto 15px auto;
  //       padding: 5px;
  //       display: inline-block;
  //       position: relative;
  //       @include media-breakpoint-up(sm) {
  //         font-size: 14px;
  //       }
  //       @include media-breakpoint-up(lg) {
  //         font-size: 16px;
  //         padding: 5px 12px;
  //       }
  //     }
  //   }
  //   .card-img-top,
  //   .card-body {
  //     height: 100%;
  //     max-height: 100%;
  //     width: 100%;
  //   }
  //   ul.owl-carousel {
  //     display: block;

  //     .owl-item:last-child {
  //       margin-right: 0 !important;
  //     }
  //   }
  // }

  // // Theme for carousel of media
  // &.theme--list-media {
  //   .owl-carousel {
  //     .owl-stage {
  //       display: flex;
  //     }
  //     .owl-item {
  //       max-height: 580px;
  //       min-height: 100%;
  //       flex: 1;
  //       @include media-breakpoint-up(xl) {
  //         height: auto;
  //       }
  //       overflow: hidden;
  //     }
  //   }
  //   .card {
  //     min-height: 100%;
  //     padding-top: 0;
  //     &.video {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       .card-img-top {
  //         position: relative;
  //         &:before {
  //           padding-top: 0;
  //         }
  //         img {
  //           display: none;
  //         }
  //       }
  //       .card-body {
  //         margin-top: 0;
  //       }
  //       iframe {
  //         border: 0;
  //         min-height: 100%;
  //         min-width: 100%;
  //         @include media-breakpoint-down(sm) {
  //           min-height: 300px;
  //         }
  //       }
  //     }
  //     &.image {}
  //     .card-title,
  //     .card-text,
  //     .card-action {
  //       visibility: hidden;
  //       a[href] {
  //         pointer-events: none;
  //       }
  //     }
  //     .card-body {
  //       margin-top: 100%;
  //       padding: 0;
  //       background-color: transparent;
  //     }
  //     &.video {}
  //     &.media-responsive {
  //       position: relative;
  //       padding-top: 53%;
  //       & > iframe {
  //         position: absolute;
  //         height: 100%;
  //         width: 100%;
  //         top: 0;
  //         left: 0;
  //         min-height: auto;
  //       }
  //     }
  //   }
  // }

  // // iPhone X support
  // &:not([data-modules*='carousel']) {
  //   @include iphone-x;
  // }

  // &.navbar-nav {
  //   max-width: 100%;
  //   display: block;
  //   background-color: transparent;
  //   .content {
  //     display: block;
  //     margin-right: 0;
  //     margin-left: 0;
  //   }
  //   & > .content {
  //     margin-right: 0;
  //     margin-left: 0;
  //     display: block;
  //     & > ul {
  //       width: 100%;
  //       position: absolute;
  //       top: 49px;
  //       left: 0;
  //       padding: 0 20px;
  //       z-index: 10;
  //       overflow: hidden;
  //       display: none;
  //       @include media-breakpoint-down(md) {
  //         overflow: auto;
  //         max-height: calc( 100vh - 49px );
  //       }
  //       @include media-breakpoint-up(lg) {
  //         position: relative;
  //         top: 0;
  //         float: right;
  //         width: auto;
  //         display: inline-block !important;
  //         height: 90px;
  //         padding: 0;
  //       }
  //       &.collapsed {
  //         height: auto;
  //       }
  //       &,
  //       & > li {
  //         background-color: $white;
  //       }
  //       &  > li {
  //         border-bottom: 1px solid $border-color;
  //         transition: background-color 0.3s ease-in-out;
  //         padding-left: 0;
  //         padding-right: 0;
  //         vertical-align: top;
  //         &:first-of-type {
  //           border-top: 1px solid $border-color;
  //         }
  //         @include media-breakpoint-up(lg) {
  //           border-bottom: 0;
  //           margin-left: 20px;
  //           &:first-of-type {
  //             margin-left: 0;
  //             border-top: 0;
  //           }
  //         }
  //         &, a {
  //           display:block;
  //           width: 100%;
  //           height: 66px;
  //           max-width: 100%;
  //         }
  //         a:active {
  //           background-color: $black;
  //           * {
  //             color: $white;
  //           }
  //           @include media-breakpoint-up(lg) {
  //             background-color: $white;
  //             &,
  //             * {
  //               color: $tertiary;
  //             }
  //           }
  //         }
  //         @include media-breakpoint-up(lg) {
  //           display: inline-block;
  //           width: auto;
  //           &, a {
  //             height: 100%;
  //           }
  //         }
  //         a {
  //           padding: 20px 0;
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           i, svg {
  //             margin-right: 8px;

  //           }
  //           span {
  //             font-size: 16px;
  //           }
  //         }
  //         a > * {
  //           color: lighten($tertiary, 15%);
  //           transition: color 0.3s ease-in-out;
  //           text-align: center;
  //           position: relative;
  //         }
  //         &:hover {
  //           background-color: $secondary;
  //           a {
  //             text-decoration: none;
  //             & > * {
  //               color: $white;
  //             }
  //           }
  //           @include media-breakpoint-up(lg) {
  //             background-color: transparent;
  //             a {
  //               text-decoration: none;
  //               & > * {
  //                 color: $tertiary;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  // &.theme--list-card {
  //   &.eventlist,
  //   &.pagelist {
  //     max-width: 100%;
  //     padding: 1.4rem 0 3.125rem 0;
  //   }
  //   .card-action {
  //     .card-link:not(.btn) {
  //       font-weight: bold;
  //       color: $primary;
  //     }
  //   }
  //   .card {
  //     box-shadow: none;
  //     margin-bottom: 0;
  //     h3 {
  //       margin-top: 0.5em;
  //       margin-bottom: 0.3em;
  //       line-height: 1.1em;
  //       text-transform: uppercase;
  //       font-weight: bold;
  //     }
  //     h3,
  //     .card-text {
  //       color: $black;
  //     }
  //     &,
  //     .card-body,
  //     .card-icon {
  //       background-color: transparent;
  //       & > * {
  //         text-align: center;
  //         &:not(i, svg) {
  //           font-family: $font-family-open-sans;
  //         }
  //       }
  //     }
  //     i, svg {
  //       position: relative;
  //       margin: 0 auto;
  //       color: $primary;
  //       font-size: 4.5em;
  //     }
  //     br {
  //       margin-bottom: 1em;
  //     }
  //     .card-text {
  //       font-size: 16px;
  //       font-weight: normal;
  //       a:not(.btn) {
  //         color: $primary;
  //         display: inline-block;
  //         &:hover {
  //           color: $primary;
  //           text-decoration: none;
  //         }
  //       }
  //     }
  //   }
  //   .content > ul {
  //     justify-content: left;
  //    & > li {
  //       padding-left: 0;
  //       padding-right: 0;
  //       @include media-breakpoint-up(md) {
  //         flex: 0 0 50%;
  //         max-width: 50%;
  //       }
  //       @include media-breakpoint-up(lg) {
  //         flex: 0 0 33.33333%;
  //         max-width: 33.33333%;
  //       }
  //       @include media-breakpoint-up(xl) {
  //         flex: 0 0 25%;
  //         max-width: 25%;
  //       }
  //     }
  //   }
  // }
  // &.theme--list-tiles {
  //   .content {
  //     & > ul {
  //       justify-content: flex-start;
  //       & > li {
  //         width: 50%;
  //       }
  //     }
  //   }
  //   .card-body {
  //     display: block;
  //     flex: inherit;
  //     padding: 0;
  //     max-width: 100%;
  //   }
  //   .card,
  //   .card-body,
  //   .card-icon,
  //   .card-title,
  //   .card-text {
  //     background-color: map-deep-get($brand-colours, 'core', 'c2');
  //     transition: background-color 0.3s ease-in-out;
  //     cursor: pointer;
  //   }
  //   .card {
  //     &:hover {
  //       &,
  //       .card-title,
  //       .card-body,
  //       .card-icon,
  //       .card-text {
  //         background-color: lighten( map-deep-get($brand-colours, 'core', 'c2'), 20% );
  //         text-decoration: none;
  //       }
  //     }
  //   }
  //   .card-title + .card-text {
  //     display: none;
  //   }
  //   .card {
  //     height: 130px;
  //     margin-bottom: 30px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     box-shadow: none;
  //     border-radius: 3px;
  //     padding:0;
  //     * {
  //       text-align: center;
  //     }
  //     .card-title,
  //     .card-text {
  //       text-transform: uppercase;
  //       font-size: 12px;
  //       font-weight: bold;
  //       color: $white;
  //       padding: 0 15px;
  //       line-height: 1.5;
  //       margin: 0;
  //     }
  //     .card-icon {
  //       max-height: inherit;
  //       margin-bottom: 6px;
  //       & > * {
  //         color: $white;
  //         display: block;
  //         font-size: 28px;
  //       }
  //     }
  //   }
  // }
  // &.column-1 {
  //   .content > ul > li {
  //     flex: 0 0 100%;
  //     max-width: 100%;
  //   }
  // }
  // &.column-2 {
  //   .content > ul > li {
  //     @include media-breakpoint-up(md) {
  //       flex: 0 0 50%;
  //       max-width: 50%;
  //     }
  //   }
  // }
  // &.column-3 {
  //   .content > ul > li {
  //     @include media-breakpoint-up(md) {
  //       flex: 0 0 50%;
  //       max-width: 50%;
  //     }
  //     @include media-breakpoint-up(lg) {
  //       flex: 0 0 33.33333%;
  //       max-width: 33.33333%;
  //     }
  //   }
  // }
  // &.column-6 {
  //   .content > ul > li {
  //     @include media-breakpoint-up(sm) {
  //       flex: 0 0 50%;
  //       max-width: 50%;
  //     }
  //     @include media-breakpoint-up(md) {
  //       flex: 0 0 33.33333%;
  //       max-width: 33.33333%;
  //     }
  //     @include media-breakpoint-up(lg) {
  //       flex: 0 0 25%;
  //       max-width: 25%;
  //     }
  //     @include media-breakpoint-up(xl) {
  //       flex: 0 0 16.666666666666667%;
  //       max-width: 16.666666666666667%;
  //     }
  //   }
  // }

  .card {
    &--promoted {
      &-yellow {
        &.yellow-style > .card-body {
          background: url('../images/patterns/yellow.png')  0 100% repeat-x;
          *:not(.btn) {
            color: $tertiary;
          }
        }
      }
      &-dark {
        &.dark-style > .card-body {
          background-color: $tertiary;
          *:not(.card-tags) {
            color: $white;
          }
          .card-tags {
            color: darken($secondary, 20%);
          }
        }
      }
    }
  }

}

html.aem-AuthorLayer-Edit {
  .pagelist.navbar-nav>.content>ul {
    float: none;
    position: relative;
    top: 0;
  }
}
