// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.page-details {
  background-position: center center;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  z-index: 1;

  > div {
    @include clearfix;
  }

  // Float the 'breadcrumb' to the left
  nav.breadcrumb {
    float: left;
  }

  // Float the 'page date' to the right
  time {
    float: right;
    margin-bottom: $paragraph-margin-bottom;
  }

  // Ensure other key elements remain clear of the floated siblings
  header,
  section {
    clear: both;
  }

  .description p {
    @extend .lead;
  }

  // Search form
  [data-modules*='header-search'] {
    margin-left: auto;
    margin-right: auto;
    max-width: 598px;
    padding-bottom: 200px;
    padding-top: 90px;
    text-align: center;
    width: 100%;

    input[type='text'] {
      @include placeholder {
        color: color('grey-1');
        transition: $transition-base;
      }

      background-color: transparent;
      border-width: 0;
      border-bottom: 2px solid currentColor;
      color: color('grey-1');
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 58px;
      padding: 0 30px 6px;
      text-align: inherit;
      width: 100%;

      &:focus {
        outline: none;

        @include placeholder {
          color: transparent;
        }
      }

      @include media-breakpoint-up(md) {
        font-size: 54px;
        line-height: 54px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    .clear-search {
      color: color('purple');
      font-size: 14px;
      margin-left: -14px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
        margin-left: -24px;
      }
    }

    .suggestions {
      top: calc(100% - #{58px});

      button {
        display: block;
        width: auto;
      }
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 140px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
