{{> components-header.containerOneColumn(theme: "{{{ header2.componentTheme }}}", modifier: "{{{ header2.componentModifier }}}", id: "{{{ header2.componentId }}}", style: "{{{ header2.componentStyle }}}", text: "{{{ header2.text }}}") }}
