{{> components-header.containerOneColumn(theme: "{{{ header2.componentTheme }}}",
                                         modifier: "{{{ header2.componentModifier }}}",
                                         id: "{{{ header2.componentId }}}",
                                         style: "{{{ header2.componentStyle }}}",
                                         modules: "{{{ header2.componentModule }}}",
                                         text: "{{{ header2.text }}}") }}
