<div {{> components-componentAttributes( componentName: "header", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid">
      {{> components-contentblock.parsysParallax(modules: "{{{ contentblock7.componentModule }}}") }}
    </div>
  </div>
</div>
