<div {{> components-componentAttributes( componentName: "header", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid">
      <div class="logo-wrapper">
        <div>
          <img src="https://www.swinburne.edu.au/infoevening/_assets/textures/logo.png" alt="Swinburne"/>
        </div>
        <div>
          <img src="https://www.swinburne.edu.au/infoevening/_assets/textures/logo.png" alt="Swinburne"/>
        </div>
      </div>
    </div>
  </div>
</div>
