<div {{> components-componentAttributes( componentName: "header", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid">
      <div class="logo-wrapper">
        {{> components-image.imageOnly(theme: "{{{ image1.componentTheme }}}",
        modifier: "{{{ image1.componentModifier }}}",
        id: "{{{ image1.componentId }}}",
        style: "{{{ image1.componentStyle }}}",
        src: "{{{ image1.src }}}",
        alt: "{{{ image1.alt }}}") }}
        {{> components-image.imageOnly(theme: "{{{ image1.componentTheme }}}",
        modifier: "{{{ image1.componentModifier }}}",
        id: "{{{ image1.componentId }}}",
        style: "{{{ image1.componentStyle }}}",
        src: "{{{ image1.src }}}",
        alt: "{{{ image1.alt }}}") }}
      </div>
    </div>
  </div>
</div>
