{{> components-embedsource.countdown( id: "{{{ embedSource2.componentId }}}",
                                          theme: "{{{ embedSource2.componentTheme }}}",
                                          modifier: "{{{ embedSource2.componentModifier }}}",
                                          modules: "{{{ embedSource2.componentModules }}}",
                                          chevron: "{{{ embedSource2.componentChevron }}}",
                                          icon: "{{{ embedSource2.componentIcon }}}")}}
