<button type="button"
{{> components-componentAttributes( componentName: "link",
                                    componentId: "{{{ id }}}",
                                    componentTheme: "{{{ theme }}}",
                                    componentModifier: "{{{ modifier }}}",
                                    componentModules: "{{{ modules }}}",
                                    componentChevron: "{{{ chevron }}}",
                                    componentIcon: "{{{ icon }}}" )}}>
  <span></span>
  <span></span>
  <span></span>
</button>
