// TODO: Add tag for `.brand-footer`
footer[component] {
  overflow: hidden;
  padding-top: 40px;

  // TODO: Add tag for `.brand-footer__global`
  > .aem-Grid > .contentblock:first-child > .container > .aem-Grid {
    display: flex;

    > .contentblock {
      width: 100%;

      &:first-child {
        min-width: 398px;
      }
    }
  }

  // TODO: Add tag for `.brand-footer__admin`
  > .aem-Grid > .contentblock:last-child {
    position: relative;

    &::before {
      background-color: theme-color('g2');
      content: '';
      display: block;
      height: 1px;
      transform: translateX(-50%);
      width: calc(100vw + 100%);
    }
  }
}
