.brand-header {
  font-size: 12px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include media-breakpoint-up(lg) {
    position: inherit;
  }
  &,
  &__logo {
    height: $header-height-sm;
    @include media-breakpoint-up(lg) {
      height: $header-height - 1px;
    }
  }
  & > .aem-Grid > .contentblock {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  &__actions,
  &__nav {
    margin: 0;
    display: inline-flex;
    vertical-align: top;
    width: 100%;
    height: ( $header-height / 3 ) * 2;
  }
  &__nav,
  &__admin {
    @include media-breakpoint-down(md) {
      width: 100vw;
    }
  }
  a:hover {
    text-decoration: none;
  }
  &__logo { // Todo add this to logo wrapper
    @include media-breakpoint-down(md) {
      img {
        display: inline-flex;
        height: auto;
        max-height: 100%;
      }
    }
    & + .contentblock { // Navigation container
      width: 100%;
      height: calc(100vh - 47px);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position: fixed;
      top: 0;
      margin-top: 47px;
      left: 0;
      @include media-breakpoint-up(lg) {
        width: calc(100% - 176px);
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        height: $header-height;
        position: static;
        margin-top: 0;
      }
      @include media-breakpoint-down(md) {
        background-color: $tertiary;
        overflow-y: auto;
      }
    }
  }
  &__admin {
    background-color: $tertiary;
    height: $header-height / 3;
    padding: 0 $spacing-md;
    a {
      color: $white;
      font-weight: 400;
    }
    & > .contentblock {
      display: inline-flex;
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
      }
      a {
        margin-right: $spacing-sm;
        font-weight: 400;
        & > span {
          font-family: $font-family-base;
        }
        &:first-of-type {
          &:before {
            content: '\f24e';
          }
        }
        &:last-of-type {
          &:before {
            content: '\f005';
          }
        }
        &:first-of-type,
        &:last-of-type {
          &:before {
            margin-right: $spacing-xs;
            font-family: $font-family-awesome;
            font-weight: 300;
          }
        }
      }
    }
    .pagelist:not([data-modules*=carousel]) {
      width: auto;
      padding-left: 0;
      padding-right: 0;
      & > .content {
        margin-right: 0;
        & > ul > {
          li {
            padding: 0 $spacing-xs;
            margin-right: 0;
            &.last {
              padding-right: 0;
            }
          }
        }
      }
      &,
      & > .content {
        margin-right: 0;
        margin-left: 0;
      }
      display: inline-flex;
      float: right;
      @include media-breakpoint-down(md) {
        float: none;
        display: flex;
        & > .content > ul {
          flex-direction: column;
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  &__nav {
    padding: 0 $spacing-md;
    max-width: calc( 100% - 210px );
    font-weight: 700;
    .nav-link {
      color: $tertiary;
      height: (($header-height / 3) * 2) - 2px;
      padding-top: 22px;
      &:after {
        display: none;
      }
      margin-right: $spacing-md;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease-in-out;
      &[aria-expanded="true"],
      &:hover {
        border-bottom: 2px solid $primary;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
        &,
        &[aria-expanded="true"],
        &:hover {
          border-bottom: 1px solid $grey-2;
        }
      }
    }
    [class*="l-"] {
      line-height: 16px;
      font-size: 12px;
      @include media-breakpoint-down(md) {
        padding-top: $spacing-sm;
        height: 100%;
      }
    }
    .nav-item {
      flex-wrap: nowrap;
      &:before {
        display: none;
      }
      &.dropdown { // Level 1
        position: inherit;
      }
      .dropdown-menu { // Level 2
        background-color: $grey-5;
        border-radius: 0;
        border: 0;
        width:100%;
        left:  5px;
        padding: 0 $spacing-md;
        overflow: auto;
        height: $header-level2-height;
        a {
          &.l-2 {
            color: $grey-2;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
            height: $header-level2-height;
            margin-right: $spacing-md;
            display: inline-flex;
            vertical-align: top;
            padding-top: 16px;
            &[aria-expanded="true"],
            &:hover {
              border-bottom: 2px solid $tertiary;
              color: $tertiary;
            }
          }
        }
      }
    }
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: $header-height-sm;
      .nav-link {
        color: $white;
        position: relative;
        &:before {
          content: '\f178';
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 18px;
          line-height: 18px;
          margin-right: $spacing-lg;
          font-family: $font-family-awesome;
          font-weight: 200;
        }
      }
      .nav-item {
        min-height: $header-height-sm;
        &:focus {
          &,
          & > a {
            outline: none;
          }
        }
      }
      order: -1;
      display: flex;
      height: auto;
      max-width: inherit;
      padding-right: 0;
    }
  }
  &__actions {
    max-width: 200px;
    justify-content: flex-end;
    align-items: center;
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      height: auto;
      margin-top: 4px;
    }
    a {
      &.btn {
        height: 45px;
        font-weight: 400;
        min-width: 140px;
        @include media-breakpoint-down(md) {
          min-width: 101px;
          margin-right: 7px;
        }
        &,
        &:hover {
          color: $white;
        }
      }
    }
    button.link {
      border: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      background-color: transparent;
      .icon:first-of-type {
        color: $tertiary;
        font-size: 14px;
        font-weight: 300;
        margin-right: 0;
        padding-left: 5px;
      }
    }
  }
}
