
.brand-header {
  background-color: $white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
  font-size: 12px;
  height: $header-height-sm;
  @include media-breakpoint-up(md) {
    height: $header-height-md;
  }
  @include media-breakpoint-up(lg) {
    height: $header-height - 1px;
  }
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include media-breakpoint-up(lg) {
    position: inherit;
  }
  &__container {
    display: flex;
    flex-direction: row;
    .navbar-toggler {
      color: color('charcoal');
      font-size: 10px;
      font-weight: 700;
      width: 70px;
      & > * {
        display: inline-flex;
      }
      & > span {
        display: inline-flex;
        width: auto;
      }
      &,
      & > span {
        margin-left: $spacing-xs;
      }
      &:first-of-type {
        display: none;
        margin-left: $spacing-2xs;
      }
      &[aria-expanded='true'] {
        &:first-of-type {
          display: block;
        }
        &:last-of-type {
          display: none;
        }
      }
    }
  }
  &__actions,
  &__nav {
    display: inline-flex;
    height: ( $header-height / 3 ) * 2;
    margin: 0;
    vertical-align: top;
    width: 100%;
  }
  &__nav,
  &__admin {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  a:hover {
    text-decoration: none;
  }
  &__nav-container { // Navigation container
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 47px);
    left: 0;
    margin-top: 47px;
    position: fixed;
    top: 0;
    width: 100%;

    @include media-breakpoint-between(md, md) {
      &::after {
        content: " ";
        display: block;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.5);
        top: $header-height-md;
        right: 0;
        height: calc(100vh - 60px);
        width: calc(100vw - 320px);
      }
    }

    @include media-breakpoint-down(md) {
      &:not(.collapse):not(.collapsing) {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      margin-top: $header-height-md;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      flex-direction: row;
      flex-wrap: wrap;
      height: $header-height;
      margin-top: 0;
      position: static;
      width: calc(100% - 176px);
    }
    @include media-breakpoint-down(md) {
      background-color: color('charcoal');
      max-width: 320px;
      overflow-y: auto;
    }
  }
  .theme-logo {
    img {
      display: inline-flex;
    }
  }
  &__admin {
    background-color: color('charcoal');
    height: $header-height / 3;
    padding: 0 $spacing-md;
    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
    a {
      color: $white;
      font-weight: 400;
    }
    & > .contentblock {
      display: inline-flex;
      a {
        font-weight: 400;
        margin-right: $spacing-sm;
        & > span {
          display: inline-flex;
          font-family: $font-family-base;
          line-height: 16px;
          margin-left: $spacing-xs;
          width: auto;
        }
      }
      .text {
        display: none;
      }
      @include media-breakpoint-down(md) {
        &,
        .link {
          display: block;
        }
        .link {
          border-bottom: 1px solid color('grey-2');
          font-weight: 700;
          line-height: 16px;
          margin-right: 0;
          padding: $spacing-sm 0;
          & > * {
            display: inline-block;
          }
          span {
            width: auto;
          }
        }
        .text {
          color: color('grey-1');
          display: block;
          font-size: 12px;
          font-weight: 200;
          padding-top: $spacing-md;
        }
      }
    }
    .pagelist:not([data-modules*='carousel']) {
      display: inline-flex;
      float: right;
      padding-left: 0;
      padding-right: 0;
      width: auto;
      & > .content {
        margin-right: 0;
        & > ul > {
          li {
            margin-right: 0;
            padding: 0 $spacing-xs;
            &.first,
            &:nth-child(2) {
              margin: 0;
              padding: 0;
            }
            &.last {
              padding-right: 0;
            }
          }
        }
      }
      &,
      & > .content {
        margin-left: 0;
        margin-right: 0;
      }
      @include media-breakpoint-down(md) {
        display: block;
        float: none;
        & > .content > ul {
          flex-direction: column;
          & > li {
            font-weight: 200;
            margin-bottom: $spacing-xs;
            padding-left: 0;
            &:nth-child(3) {
              margin-top: $spacing-sm;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  &__nav {
    flex-direction: row;
    font-weight: 700;
    max-width: calc(100% - 210px);
    padding: 0 $spacing-md;
    .nav-link {
      border-bottom: 2px solid transparent;
      color: color('charcoal');
      height: (($header-height / 3) * 2) - 2px;
      margin-right: $spacing-md;
      padding-top: 22px;
      &::after {
        display: none;
      }
      transition: border-bottom .3s ease-in-out;
      &[aria-expanded='true'],
      &:hover {
        border-bottom: 2px solid color('red');
      }
      @include media-breakpoint-down(md) {
        margin-right: 0;
        width: 100%;
        &,
        &[aria-expanded='true'],
        &:hover {
          border-bottom: 1px solid color('grey-2');
        }
      }
    }
    [class*='l-'] {
      font-size: 12px;
      line-height: 16px;
      @include media-breakpoint-down(md) {
        height: 100%;
        padding: $spacing-sm 0;
      }
    }
    .nav-item {
      flex-wrap: nowrap;
      &::before {
        display: none;
      }
      &.dropdown { // Level 1
        position: inherit;
      }
      &:last-child {
        [class*='l-'] {
          margin-right: 0;
        }
      }
      .dropdown-menu { // Level 2
        background-color: color('grey-5');
        border: 0;
        border-radius: 0;
        box-shadow: 0 2px 3px color('grey-3');
        height: $header-level2-height;
        left: 5px;
        overflow: auto;
        padding: 0 $spacing-md;
        width: 100%;
        @include media-breakpoint-down(md) {
          background-color: color('charcoal');
          box-shadow: none;
          height: calc(100vh - 47px);
          left: 5px !important;
          margin-top: -5px;
          overflow: auto;
          padding-right: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5;
        }
        button.link {
          background: transparent;
          border: 0;
          color: $white;
          display: flex;
          flex-direction: row-reverse;
          font-size: 12px;
          font-weight: 700;
          margin-top: $spacing-sm;
          padding-left: 0;
          & > .icon {
            font-size: 12px;
          }
        }
        a {
          &.l-2 {
            border-bottom: 2px solid transparent;
            color: color('grey-2');
            display: inline-flex;
            height: $header-level2-height;
            margin-right: $spacing-md;
            padding-top: 16px;
            transition: border-bottom .3s ease-in-out, color .3s ease-in-out;
            vertical-align: top;
            &[aria-expanded='true'],
            &:hover {
              border-bottom: 2px solid color('charcoal');
              color: color('charcoal');
            }
            &:last-child {
              margin-right: 0;
            }
            @include media-breakpoint-down(md) {
              display: block;
              width: 100%;
              &,
              &:hover,
              &[aria-expanded='true'],
              &::before {
                color: $white;
              }
              &,
              &:hover,
              &[aria-expanded='true']{
                border-bottom: 1px solid color('grey-2');
              }
            }
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: block;
      height: auto;
      max-width: inherit;
      order: -1;
      padding-right: 0;
      a.l-2,
      .nav-link {
        color: $white;
        position: relative;
        &::before {
          content: '\f178';
          display: block;
          font-family: $font-family-awesome;
          font-size: 18px;
          font-weight: 200;
          line-height: 18px;
          margin-right: $spacing-lg;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      a.l-2,
      .nav-item {
        display: block;
        min-height: $header-height-sm;
        &:focus {
          &,
          & > a {
            outline: none;
          }
        }
      }
    }
  }
  &__actions {
    align-items: center;
    justify-content: flex-end;
    max-width: 200px;
    @include media-breakpoint-down(md) {
      height: auto;
      margin-top: 4px;
      position: fixed;
      right: 0;
      top: 0;
    }
    @include media-breakpoint-between(md, md){
      margin-top: 8px;
    }
    a {
      &.btn {
        font-weight: 400;
        height: 45px;
        min-width: 140px;
        &:first-of-type {
          display: flex;
        }
        &:last-of-type {
          display: none;
        }
        @include media-breakpoint-down(md) {
          margin: 0 7px 0 0;
          min-width: 101px;
          &:first-of-type {
            display: none;
          }
          &:last-of-type {
            display: flex;
          }
        }
        &,
        &:hover {
          color: $white;
        }
      }
    }
    button.link {
      align-items: center;
      background-color: transparent;
      border: 0;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 0;
      width: 40px;
      .icon:first-of-type {
        color: color('charcoal');
        font-size: 14px;
        font-weight: 300;
        margin-right: 0;
        padding-left: 5px;
      }
      .link-text {
        display: none;
      }
    }
  }
}
