{{> components-formsText.default(type: "{{{ formsText1.type }}}", modifier: "{{{ formsText1.componentModifier }}}", id: "{{{ formsText1.componentId }}}", name: "{{{ formsText1.name }}}", panelPath: "{{{ formsText1.panelPath }}}", text: "{{{ formsText1.text }}}") }}
