component class="{{ componentName }} {{ componentTheme }} {{ componentModifier }} {{ componentChevron }} {{ componentIcon }}" {{# componentId }}id="{{ componentId }}"{{/componentId}} {{# componentModules }}data-modules="{{ componentModules }}"{{/componentModules}}{{# componentStyle }}{{{componentStyle}}}{{/componentStyle}}
