// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.page-details {
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  z-index: 1;

  > div {
    @include clearfix;
  }

  // Float the 'breadcrumb' to the left
  nav.breadcrumb {
    float: left;
  }

  // Float the 'page date' to the right
  time {
    float: right;
    margin-bottom: $paragraph-margin-bottom;
  }

  // Ensure other key elements remain clear of the floated siblings
  header,
  section {
    clear: both;
  }

  .description p {
    @extend .lead;
  }

  @include media-breakpoint-up(md) {
    min-height: 140px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
