// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

// stylelint-disable declaration-no-important

.page-details header,
.text {
  @include clearfix;

  &:not(.text-heading-outlined) {
    // Headings keyline (underline)
    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    .h4 {
      &::after {
        background-color: color('red');
        content: '';
        display: block;
        height: 1px;
        margin-top: 20px;
        width: 80px;

        @include media-breakpoint-up(lg) {
          margin-top: 30px;
        }
      }
    }

    // Apply a different keyline margin depending on the heading level
    @each $level in h1, h2, h3, h4 {
      @each $bp, $opts in typography-heading($level) {
        @if map-has-key($opts, margin-bottom) {
          @include media-breakpoint-up($bp) {
            #{$level}::after,
            .#{$level}::after {
              margin-top: map-get($opts, margin-bottom);
            }
          }
        }
      }
    }

    // H4 headings have a slightly smaller keyline under them on larger screens
    h4::after,
    .h4::after {
      @include media-breakpoint-up(lg) {
        width: 60px;
      }
    }
  }

  // Smaller text
  &-small {
    @extend small;
  }

  // Darker list
  &-list-dark {
    li::before,
    li::before {
      color: color('red');
    }
  }
}
