{{> components-embedsource.hamburger( label: "{{{ link10.text }}}",
                                      href: "{{{ link10.href }}}",
                                      modifier: "{{{ link10.componentModifier }}}",
                                      modules: "{{{ link10.componentModules }}}",
                                      id: "{{{ link10.componentId }}}")
}}
