{{> components-embedsource.countdown( label: "{{{ embedSource2.text }}}",
                                      href: "{{{ embedSource2.href }}}",
                                      modifier: "{{{ embedSource2.componentModifier }}}",
                                      modules: "{{{ embedSource2.componentModules }}}",
                                      id: "{{{ embedSource2.componentId }}}")
}}
