<div component class="embedsource">
  <div class="countdown" style="display: block">
    <div class="display">
      <div class="time-left">
        <div class="time-wrapper">
          <div class="time day">0</div><div class="time-after">days</div>
        </div>
        <div class="time-wrapper">
          <div class="time hour">0</div><div class="time-after">hours</div>
        </div>
        <div class="time-wrapper">
          <div class="time minute">0</div><div class="time-after">minutes</div>
        </div>
        <div class="time-wrapper">
          <div class="time second">0</div><div class="time-after">seconds</div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // timer functionality

    const timerDisplay = document.querySelector('.time-left');
    const dayDisplay = document.querySelector('.day');
    const hourDisplay = document.querySelector('.hour');
    const minuteDisplay = document.querySelector('.minute');
    const secondDisplay = document.querySelector('.second');
    const endTime = document.querySelector('.end-time');

    // Set countdown date
    const countDownDate = new Date("July 29, 2018 10:00:00").getTime();

    // Starts counter update every second
    var x = setInterval(function() x{

      // Current date/time.
      var now = new Date().getTime();

      // Time between now an the countdown date
      var time = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      const months = Math.floor(time / (1000 * 60 * 60 * 24));
      var days = Math.floor(time / (1000 * 60 * 60 * 24));
      var hours = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((time % (1000 * 60)) / 1000);

      if (time > 0 ) {
        dayDisplay.innerHTML = days;
        hourDisplay.innerHTML = hours;
        minuteDisplay.innerHTML = minutes;
        secondDisplay.innerHTML = seconds;
      }

      // Triggers if countdown has finished and sets timer to 0;
      else {
        clearInterval(x);
        endTime.innerHTML = "Event Has Started!";
        dayDisplay.innerHTML = 0;
        hourDisplay.innerHTML = 0;
        minuteDisplay.innerHTML = 0;
        secondDisplay.innerHTML = 0;
      }
    }, 1000);
  </script>
</div>
