<div class="container my-5">
  <h1>{{ typography_title }}</h1>
  <h2>Heading Level 1</h2>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>

  <h2 class="mt-5">Heading Level 2</h2>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>

  <h3 class="mt-5">Heading Level 3</h3>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>

  <h4 class="mt-5">Heading Level 4</h4>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>

  <h5 class="mt-5">Heading Level 5</h5>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>

  <h6 class="mt-5">Heading Level 6</h6>
  <pre class="small"><code>Main Font | Size: 36px | Line Height: 1.2</code></pre>
</div>

<hr>

<div class="container my-5">
  <h2>Paragraphs</h2>

  <h4>Standard</h4>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid aut saepe sapiente hic. Fugit, similique, amet autem dolore unde repellendus illo error asperiores sed deserunt tempore iure corporis doloribus nisi.</p>

  <h4 class="mt-5">Lead</h4>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid aut saepe sapiente hic. Fugit, similique, amet autem dolore unde repellendus illo error asperiores sed deserunt tempore iure corporis doloribus nisi.</p>
</div>
