{{> components-footer.defaultTwoColumn( modifier: "{{{ footer6.componentModifier }}}",
                                        id: "{{{ footer6.componentId }}}",
                                        style: "{{{ footer6.componentStyle }}}",
                                        text: "{{{ footer6.text }}}",
                                        theme: "{{{ footer6.componentTheme }}}")
}}
