<footer {{> components-componentAttributes( componentName: "footer", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="aem-Grid">
    {{> components-text.default( text: "{{{ text }}}") }}
  </div>
</footer>
