<div class="container my-5">
  <div class="row">
    <h1>{{ typography_title }}</h1>
  </div>
  <h1>Heading Level 1</h1>
  <pre class="small"><code>Main Font | Size: 54px | Line Height: 62px</code></pre>

  <h2 class="mt-5">Heading Level 2</h2>
  <pre class="small"><code>Main Font | Size: 40px | Line Height: 48px</code></pre>

  <h3 class="mt-5">Heading Level 3</h3>
  <pre class="small"><code>Main Font | Size: 30px | Line Height: 38px</code></pre>

  <h4 class="mt-5">Heading Level 4</h4>
  <pre class="small"><code>Main Font | Size: 26px | Line Height: 34px</code></pre>

  <h5 class="mt-5">Heading Level 5</h5>
  <pre class="small"><code>Main Font | Size: 24px | Line Height: 32px</code></pre>

  <h6 class="mt-5">Heading Level 6</h6>
  <pre class="small"><code>Main Font | Size: 20px | Line Height: 28px</code></pre>
</div>

<hr>

<div class="container my-5">
  <h2>Paragraphs</h2>

  <h4>Standard</h4>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid aut saepe sapiente hic. Fugit, similique, amet autem dolore unde repellendus illo error asperiores sed deserunt tempore iure corporis doloribus nisi.</p>

  <h4 class="mt-5">Lead</h4>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid aut saepe sapiente hic. Fugit, similique, amet autem dolore unde repellendus illo error asperiores sed deserunt tempore iure corporis doloribus nisi.</p>
</div>
