<html lang="en" style="overflow: hidden;" class=" aem-AuthorLayer-Preview aem-Author--hidePlaceholder">
<head>
  <meta charset="UTF-8">
  <title>base template</title>
  <meta name="template" content="base">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- custom header libs -->
</head>
<body>

<div class="header"><!-- NO CLOSING DIV AS AEM OOTB ERROR -->
{{> components-header.default(modifier: "{{{ header1.componentModifier }}}", id: "{{{ header1.componentId }}}", style: "{{{ header1.componentStyle }}}", text: "{{{ header1.text }}}") }}
<div class="article">
{{> components-article.default(modifier: "{{{ article1.componentModifier }}}", id: "{{{ article1.componentId }}}", style: "{{{ article1.componentStyle }}}", text: "{{{ article1.text }}}") }}
<div class="footer">
{{> components-footer.default(modifier: "{{{ footer1.componentModifier }}}", id: "{{{ footer1.componentId }}}", style: "{{{ footer1.componentStyle }}}", text: "{{{ footer1.text }}}") }}

<!-- custom footer libs -->
</body>
</html>
