{{> components-contentblock.containerCarousel( modifier: "{{{ contentblock9.componentModifier }}}",
                                               modules: " {{{ pageList4.componentModules }}}",
                                               id: "{{{ contentblock9.componentId }}}",
                                               style: "{{{ contentblock9.componentStyle }}}") }}
