{{> components-contentblock.containerArticle( modifier: "{{{ contentblock11.componentModifier }}}",
                                              modules: "{{{ contentblock11.componentModules }}}",
                                              theme: "{{{ contentblock11.componentTheme }}}",
                                              text1: "{{{ contentblock11.text1 }}}",
                                              text2: "{{{ contentblock11.text2 }}}",
                                              text3: "{{{ contentblock11.text3 }}}",
                                              text4: "{{{ contentblock11.text4 }}}",
                                              text5: "{{{ contentblock11.text5 }}}",
                                              src1: "{{{ contentblock11.src1 }}}",
                                              src2: "{{{ contentblock11.src2 }}}",
                                              src3: "{{{ contentblock11.src3 }}}",
                                              id: "{{{ contentblock11.componentId }}}" )
}}
