{{> components-contentblock.containerBannerText( theme: "{{{ contentblock14.componentTheme }}}",
                                                 modifier: "{{{ contentblock14.componentModifier }}}",
                                                 id: "{{{ contentblock14.componentId }}}",
                                                 style: "{{{ contentblock14.componentStyle }}}",
                                                 text: "{{{ contentblock14.text }}}" )
}}
