{{> components-contentblock.defaultMedia( modifier: "{{{ contentblock23.componentModifier }}}",
                                          modules: "{{{ contentblock23.componentModules }}}",
                                          theme: "{{{ contentblock23.componentTheme }}}",
                                          id: "{{{ contentblock23.componentId }}}",
                                          text: "{{{ contentblock23.text }}}" ) }}
