<div {{> components-componentAttributes( componentName: "contentblock advsection",
                                         componentId: "{{{ id }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentStyle: "{{{ style }}}") }}>
  <div class="content">
    <a name="{{id}}"></a>
    <div class="title">
      <h2 class="heading" id="heading-{{id}}">Variant: Child Section</h2>
    </div>
    <div class="contents">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
        {{#accordionItems}}
          <div component="" data-layer-componentpath="article/par/{{id}}/par/{{id}}{{itemId}}" class="contentblock childsection" id="{{id}}{{itemId}}" data-toggle="collapse" data-target="#{{id}}{{itemId}}-content" aria-controls="{{id}}{{itemId}}-content">
            <div class="header" id="{{id}}{{itemId}}-heading">
              <button class="btn btn-link title">{{title}}</button>
            </div>
            <div id="{{id}}{{itemId}}-content" class="collapse" aria-labelledby="{{id}}{{itemId}}-heading">
              <div class="body">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                  {{> components-text.default( text: "{{{ text}}}") }}
                </div>
              </div>
            </div>
          </div>
        {{/accordionItems}}
      </div>
    </div>
  </div>
</div>
