<div {{> components-componentAttributes( componentName: "contentblock", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid"><!--aemdesign/components/layout/container-->
      {{> components-text.default( text: "{{{ text }}}" ) }}
    </div>
  </div>
</div>
