<div {{> components-componentAttributes( componentName: "contentblock",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}>
  <div class="aem-Grid">
    {{> components-text.default( text: "{{{ text }}}" ) }}
    {{> components-pagelist.carouselMedia( modules: " {{{ pageList10.componentModules }}}",
                                           modifiers: "{{{ pageList10.componentModifier }}}",
                                           theme: "{{{ pageList10.componentTheme }}}" ) }}
  </div>
</div>
