<div {{> components-componentAttributes( componentName: "contentblock",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}
>
  <div class="container">
    <div class="aem-Grid">
      <div component class="colctrl colctrl-2c">
        <div class="parsys_column row ">
          <div class="parsys_column col-lg-6 colctrl">
            {{> components-text.default( text: "{{{ text }}}" ) }}
          </div>
          <div class="parsys_column col-lg-6 colctrl">
            {{> components-formContainer.themed( theme: "{{{ formTheme }}}" ) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
