<div {{> components-componentAttributes( componentName: "contentblock",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}
>
  <div class="container">
    <div class="aem-Grid">
      {{> components-text.default( text: "{{{ text1 }}}") }}
      {{> components-image.imageOnly( src: "{{{ src1 }}}" ) }}
      {{> components-text.default( text: "{{{ text2 }}}") }}
      {{> components-image.imageOnly( src: "{{{ src2 }}}" ) }}
      {{> components-text.default( text: "{{{ text3 }}}") }}
      {{> components-image.imageOnly( src: "{{{ src3 }}}" ) }}
      {{> components-text.default( text: "{{{ text4 }}}") }}
      {{> components-text.default( text: "{{{ text5 }}}") }}
    </div>
  </div>
</div>
