<div {{> components-componentAttributes( componentName: "contentblock",
                                         componentId: "{{{ id }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}>
  <div class="container">
    <div class="aem-Grid">
      {{> components-pagelist.cards( theme: "{{{ theme }}}" )}}
    </div>
  </div>
</div>
