<div {{> components-componentAttributes( componentName: "contentblock",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}" ) }}
>
  <div class="container">
    <div class="aem-Grid">
      <div component class="colctrl colctrl-2c">
        <div class="parsys_column row ">
          <div class="parsys_column col-lg-6 colctrl">
            {{> components-text.default( text: "{{{ text }}}" ) }}
          </div>
          <div class="parsys_column col-lg-6 colctrl">
            <iframe id="aemFormFrame" src="http://localhost:4502/content/swinburne-showcase/en/pages/jie/_jcr_content/article/par/contentblock_5/par/aemform.iframe.html?dataRef=&amp;wcmmode=DISABLED" width="100%" scrolling="yes" style="overflow: auto; height: 1252.12px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
