
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="/js/app.js"></script>
  <script src="/js/styleguide.js"></script>
  <script>
    if(navigator.userAgent.match(/Trident\/7\./)) {
      document.body.addEventListener("mousewheel", function() {
        event.preventDefault();
        var wd = event.wheelDelta;
        var csp = window.pageYOffset;
        window.scrollTo(0, csp - wd);
      });
    }
  </script>
  </body>
</html>
