<div class="guideFieldWidget textField">
  <input {{> components-componentAttributes( componentName: "textField", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}
         type="text"
         name="{{{name}}}"
         placeholder="{{{placeholder}}}"
         autocomplete="{{{autocomplete}}}">
</div>
