<div class="{{{ form1.componentTheme }}}">
  {{> components-formsTextBox.default(type: "{{{ textfield2.type }}}", style: "{{{ textfield2.style }}}", modifier: "{{{ textfield2.componentModifier }}}", id: "{{{ textfield2.componentId }}}", name: "{{{ textfield2.name }}}", panelPath: "{{{ textfield2.panelPath }}}", label: "{{{ textfield2.label }}}") }}
</div>
