<html lang="en" style="overflow: hidden;" class=" aem-AuthorLayer-Preview aem-Author--hidePlaceholder">
<head>
  <meta charset="UTF-8">
  <title>base template</title>
  <meta name="template" content="base">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="container">
      <div class="article">
        <!-- article start -->
        {{> components-article.default(modifier: "{{{ article1.componentModifier }}}", id: "{{{ article1.componentId }}}", style: "{{{ article1.componentStyle }}}", text: "{{{ article1.text }}}") }}
        <!-- article end -->
      </div>
    </div>
  </body>
</html>
