{{> components-contentblock.container(modifier: "{{{ contentblock6.componentTheme }}}", linkHref: "{{{ contentblock6.linkHref }}}", id: "{{{ contentblock6.componentId }}}", style: "{{{ contentblock6.componentStyle }}}", text: "{{{ contentblock6.text }}}"") }}
