{{> components-pagelist.defaultBadged( id: "{{{ pageList1.componentId }}}",
                                       theme: "{{{ pageList1.componentTheme }}}",
                                       modifier: "{{{ pageList1.componentModifier }}}",
                                       modules: "{{{ pageList1.componentModules }}}",
                                       chevron: "{{{pageList1.componentChevron }}}",
                                       icon: "{{{ pageList1.componentIcon }}}")}}
