<div {{> components-componentAttributes(componentName: "pagelist",
                                        componentId: "{{{ id }}}",
                                        componentTheme: "{{{ theme }}}",
                                        componentModifier: "{{{ modifier }}}",
                                        componentModules: "{{{ modules }}}",
                                        componentChevron: "{{{ chevron }}}",
                                        componentIcon: "{{{ icon }}}",
                                        componentStyle: "{{{ style }}}") }}>
  <div class="content">
    <ul>
      <li class="first">
        <a href="" title="Page1">
          <i class="fa fa-facebook-f" title="Page1"></i>
          <span class="title"></span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page2">
          <i class="fa fa-life-twitter" title="Page2"></i>
          <span class="title"></span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page3">
          <i class="fa fa-youtube" title="Page3"></i>
          <span class="title"></span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page4">
          <i class="fa fa-pinterest-p" title="Page4"></i>
          <span class="title"></span>
        </a>
      </li>
      <li class="item">
        <a href="" title="Page5">
          <i class="fa fa-linkedin-in" title="Page5"></i>
          <span class="title"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
