<div component="" class="pagelist {{{ theme }}}" data-modules="{{{ modules }}}">
  <div class="content">
    <ul>
      <li class="first">
        <div class="card small">
          <div class="card-img-top">
            <img src="https://www.swinburne.edu.au/infoevening/_assets/images/nicole-ceo.jpg" alt="Page1" />
          </div>
          <div class="card-body">
            <h3 class="card-title">TAKE A RISK</h3>
            <div class="card-text">Master of Entrepreneurship and Innovation graduate, Nicole, took a calculated risk when she launched her business, Qi Tea. Today, she’s built it into a thriving brand.</div>
            <div class="card-action">
              <a class="card-link btn btn-secondary" href="" target="_blank" title="Page1">TAKE FLIGHT LIKE NICOLE</a>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-img-top">
            <img src="https://www.swinburne.edu.au/infoevening/_assets/images/apprentice-of-the-year.jpg" alt="Page2" />
          </div>
          <div class="card-body">
            <h3 class="card-title">BUILD YOUR FUTURE</h3>
            <div class="card-text">After certificates at Swinburne in carpentry and construction, Steven undertook his apprenticeship, worked overseas as part of Swinburne Global Tradies, and was named Apprentice of the Year.</div>
            <div class="card-action">
              <a class="card-link btn btn-secondary" href="" target="_blank" title="Page2">EARN YOUR SUCCESS LIKE STEVEN</a>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-img-top">
            <img src="https://www.swinburne.edu.au/infoevening/_assets/images/SuzanneSQ2.jpg" alt="Page3" />
          </div>
          <div class="card-body">
            <h3 class="card-title">ANYTHING IS POSSIBLE</h3>
            <div class="card-text">Suzanne lived in North Queensland where studying Games and Interactivity seemed like an impossible dream. Now she's at Swinburne turning her passion for gaming into a career.</div>
            <div class="card-action">
              <a class="card-link btn btn-secondary btn-icon" href="" target="_blank" title="Page3">LEVEL UP LIKE SUZANNE</a>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-img-top">
            <img src="https://www.swinburne.edu.au/infoevening/_assets/images/shirwin-agse-entrepreneurship.jpg" alt="Page3" />
          </div>
          <div class="card-body">
            <h3 class="card-title">PUSH YOURSELF FURTHER</h3>
            <div class="card-text">After completing his double bachelor degree at Swinburne, Sherwin joined our Australian Graduate School of Entrepreneurship. Now, he's head of an experience design consulting practice.</div>
            <div class="card-action">
              <a class="card-link btn btn-secondary" href="" target="_blank" title="Page2">MAKE WAVES LIKE SHERWIN</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
