<div component="" class="pagelist {{{ theme }}} {{{ modifiers }}}" data-modules="{{{ modules }}}">
  <div class="content">
    <ul>
    {{#pageListMedias}}
      <li class="first">
        <div class="card small {{modifier}}">
          <div class="card-img-top">
            <img src="{{image}}" alt="Page1"/>
          </div>
          <div class="card-body">
            <h3 class="card-title"></h3>
            <div class="card-text"></div>
            <div class="card-action">
              <a class="card-link btn btn-primary" title="{{video}}" target="_blank"></a>
            </div>
          </div>
        </div>
      </li>
    {{/pageListMedias}}
    </ul>
  </div>
</div>
