<div {{> components-componentAttributes( componentName: "pagelist",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}" ) }}>
  <div class="content">
    <ul>
      <li class="first">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-calendar-alt"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Wantirna Advice Night</h3>
            <div class="card-text"><p>TUES 18 SEPTEMBER<br/>5pm – 7pm</p><p>Considering nursing, early education, apprenticeships or vocational courses? Find out more and let our specialist staff answer all your questions.</p></div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-calendar-alt"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Hawthorn Advice Night</h3>
            <div class="card-text"><p>WED 12 SEPTEMBER<br/>4pm – 6pm</p><p>From A to Z, all our bachelor degrees, diplomas and certificates will be represented here. Get advice and even apply on the spot.</p></div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-calendar-alt"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Postgrad Advice Night</h3>
            <div class="card-text"><p>TUES 18 SEPTEMBER<br/>5pm – 7pm</p><p>Thinking about returning to study or keen to kickstart a new career? Have all your questions answered at our event at Rydges Melbourne CBD.</p></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
