<div {{> components-componentAttributes(componentName: "pagelist",
                                        componentId: "{{{ id }}}",
                                        componentTheme: "{{{ theme }}}",
                                        componentModifier: "{{{ modifier }}}",
                                        componentModules: "{{{ modules }}}",
                                        componentChevron: "{{{ chevron }}}",
                                        componentIcon: "{{{ icon }}}",
                                        componentStyle: "{{{ style }}}") }}
>
  <div class="content">
    <ul>
      <li class="first">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-reply-all"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Flexible learning options</h3>
            <div class="card-text"><p>We understand that study should fit in with your life. Maybe online learning suits you? Or part-time delivery, summer study or fast-track mode? Maybe you want to get super specialised, super fast? Or keep things broad?<br/>There are so many study options, you’re bound to find one that suits your needs.<br/><a style="font-weight:bold;margin-top:8px;display:block;" href="/study/options/find/flexible-learning-options/" target="_blank" title="Discover how to utilise UniLink diplomas">Explore the possibilities</a></p></div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Strong industry connections</h3>
            <div class="card-text"><p>Whether you’re a <a href="/study/master-phd-graduate/reasons-to-choose-swinburne/">postgrad</a> or undergrad student, our strong industry relationships mean you’ll gain professional experience before graduating, whether through placements, internships or industry projects.<br/><a style="font-weight:bold;margin-top:8px;display:block;" href="/current-students/work-integrated-learning/" target="_blank">Explore your options</a></p></div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-fast-forward"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Get credit for prior experience</h3>
            <div class="card-text"><p>You don’t always need a bachelor degree to start postgraduate study. If you have substantial relevant work experience, you may be able to progress with a recognition of prior learning.Academic credit is available on previous study, too. So it’s worth checking out your eligibility. You could achieve your qualifications sooner and get closer to your goals.<br/><a style="font-weight:bold;margin-top:8px;display:block;" href="/current-students/manage-course/enrolment-timetable/credit-prior-study/" target="_blank" title="Find out about Swinburne's work placement opportunities">I’ll take the credit!</a></p></div>
          </div>
        </div>
      </li>
      <li class="last">
        <div class="card small">
          <div class="card-icon">
            <i class="fa fa-comments"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title">Career support at your fingertips</h3>
            <div class="card-text"><p>Our Careers and Employability Team have a wealth of resources that can help you assess your skills, refine your area of interest and set your career goals. We offer tools to assist with job applications and interviews, and one-on-one counselling sessions with career advisers.<br/><a style="font-weight:bold;margin-top:8px;display:block;" href="/current-students/work-study-opportunities/jobs-careers/" target="_blank" title="Discover how to utilise UniLink diplomas">Get some advice</a></p></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
