<div {{> components-componentAttributes(componentName: "pagelist",
                                        componentId: "{{{ id }}}",
                                        componentTheme: "{{{ theme }}}",
                                        componentModifier: "{{{ modifier }}}",
                                        componentModules: "{{{ modules }}}",
                                        componentChevron: "{{{ chevron }}}",
                                        componentIcon: "{{{ icon }}}",
                                        componentStyle: "{{{ style }}}") }}
  data-list-split-enabled="false" data-list-split-every="5" data-badge="cardIconDescription" data-has-pages="false">
  <div class="content">
    <ul>
    {{#pageList6links}}
      <li class="first">
        <div class="card small">
          <div class="card-icon">
            <i class="fa {{icon}}"></i>
          </div>
          <div class="card-body">
            <div class="card-text">{{title}}</div>
          </div>
        </div>
      </li>
    {{/pageList6links}}
    </ul>
  </div>
</div>
