{{> components-contentblock.default(modifier: "block-banner", id: "contentblock2", style: "{{{ contentblock2.componentStyle }}}", text: "<h2>REAL WORK AS YOU STUDY</h2>", linkText: "Tell me more") }}
