{{> components-contentblock.container(modifier: "{{{ contentblock2.componentTheme }}}", linkHref: "{{{ contentblock2.linkHref }}}", id: "{{{ contentblock2.componentId }}}", style: "{{{ contentblock2.componentStyle }}}", text: "{{{ contentblock2.text }}}", linkText: "{{{ contentblock2.linkText }}}") }}
