<section {{> components-componentAttributes( componentName: "contentblock", componentId: "{{{ id }}}", componentTheme: "{{{ theme }}}", componentModifier: "{{{ modifier }}}", componentModules: "{{{ modules }}}", componentChevron: "{{{ chevron }}}", componentIcon: "{{{ icon }}}", componentStyle: "{{{ style }}}" ) }}>
  <div class="aem-Grid">
      {{> components-text.default( text: "{{{ text }}}", modifier: "text-uppercase", id: "text8") }}
      {{> components-link.button( label: "{{ linkText }}", href: "{{ linkHref }}", modifier: "btn-secondary", id: "link8") }}
  </div>
</section>

