<div class="search quick" data-feed-urls="/content/aemdesign-showcase/en/component/lists/page-list/_jcr_content/article/par/contentblock9/par/pagelist.rss,/content/aemdesign-showcase/en/component/lists/page-list/_jcr_content/article/par/contentblock10/par/pagelist.feed" id="searchwidget" data-modules="search">
  <form name="search" action="/content/aemdesign-showcase/en/component/lists/search-list.html" method="get">
    <input type="search" name="q" placeholder="Keywords...">
    <button type="submit">Search</button>

    <script type="text/template" class="suggestion-tpl">
      <a href='<@- link @>'>
        <span class='title'>
          <strong><@- title @></strong>
        </span>
      </a>
    </script>
  </form>
</div>
