
{{> components-onlinemedia.default(theme: "{{{ onlinemedia2.componentTheme }}}",
                                   modifier: "{{{ onlinemedia2.componentModifier }}}",
                                   src: "{{{ onlinemedia2.src }}}",
                                   id: "{{{ onlinemedia2.componentId }}}",
                                   provider: "{{{ onlinemedia2.provider }}}",
                                   partnerId: "{{{ onlinemedia2.partnerId }}}",
                                   playerId: "{{{ onlinemedia2.playerId }}}",
                                   entryId: "{{{ onlinemedia2.entryId }}}",
                                   title: "{{{ onlinemedia2.title }}}")
}}
