{{> components-onlinemedia.default(theme: "{{{ onlinemedia1.componentTheme }}}",
                                   modifier: "{{{ onlinemedia1.componentModifier }}}",
                                   src: "{{{ onlinemedia1.src }}}",
                                   id: "{{{ onlinemedia1.componentId }}}",
                                   provider: "{{{ onlinemedia1.provider }}}",
                                   partnerId: "{{{ onlinemedia1.partnerId }}}",
                                   playerId: "{{{ onlinemedia1.playerId }}}",
                                   entryId: "{{{ onlinemedia1.entryId }}}",
                                   title: "{{{ onlinemedia1.title }}}")
}}

  <div class="js-video-embed"></div>

</div>

