<div  {{> components-componentAttributes( componentName: "onlinemedia",
                                          componentId: "{{{ id }}}",
                                          componentTheme: "{{{ theme }}}",
                                          componentModifier: "{{{ modifier }}}",
                                          componentModules: "{{{ modules }}}",
                                          componentChevron: "{{{ chevron }}}",
                                          componentIcon: "{{{ icon }}}",
                                          componentStyle: "{{{ style }}}" ) }}
>
  <iframe src="{{{src}}}" width="" height=""></iframe>
</div>
