<div  {{> components-componentAttributes( componentName: "onlinemedia",
                                          componentId: "{{{ id }}}",
                                          componentTheme: "{{{ theme }}}",
                                          componentModifier: "{{{ modifier }}}",
                                          componentModules: "{{{ modules }}}",
                                          componentChevron: "{{{ chevron }}}",
                                          componentIcon: "{{{ icon }}}",
                                          componentStyle: "{{{ style }}}" ) }}
                                          id="onlinemedia1"
                                          data-provider="{{{ provider }}}"
                                          data-partner-id="{{{ partnerId }}}"
                                          data-player-id="{{{ playerId }}}"
                                          data-entry-id="{{{ entryId }}}"
                                          data-linkdescription="{{{ title }}}"
  >

  <div class="js-video-embed"></div>

</div>


