<div  {{> components-componentAttributes( componentName: "onlinemedia",
                                          componentId: "{{{ id }}}",
                                          componentTheme: "{{{ theme }}}",
                                          componentModifier: "{{{ modifier }}}",
                                          componentModules: "{{{ modules }}}",
                                          componentChevron: "{{{ chevron }}}",
                                          componentIcon: "{{{ icon }}}",
                                          componentStyle: "{{{ style }}}" ) }}
                                          id="onlinemedia1"
                                          data-provider="{{{ provider }}}"
                                          data-partner-id="{{{ partnerId }}}"
                                          data-player-id="{{{ playerId }}}"
                                          data-entry-id="{{{ entryId }}}"
                                          data-linkdescription="{{{ title }}}"
  >

  <div class="js-video-embed"></div>

</div>

<!--<div component="" data-layer-componentpath="article/par/contentblock/par/onlinemedia" class="onlinemedia" id="onlinemedia1">-->
  <!--<iframe src="https://cdnapisec.kaltura.com/p/691292/sp/69129200/embedIframeJs/uiconf_id/20499062/partner_id/691292?iframeembed=true&amp;playerId=kaltura_player_1420508608&amp;entry_id=1_lph7zzb1&amp;flashvars[streamerType]=auto" width="" height=""></iframe>-->
<!--</div>-->

