<div component="" data-layer-componentpath="article/par/contentblock/par/onlinemedia" class="onlinemedia" provider="youtube" modules="onlinemedia" id="onlinemedia_MUUUMH2M8">
  <video width="100%" height="100%" style="width:100%;height:100%;" preload="auto" controls="controls">
    <source type="video/youtube" src="//www.youtube.com/watch?v=w82a1FT5o88">
  </video>
</div>
