{{> components-eventlist.cardsHorizontal( id: "{{{ eventList2.componentId }}}",
                                          theme: "{{{ eventList2.componentTheme }}}",
                                          modifier: "{{{ eventList2.componentModifier }}}",
                                          modules: "{{{ eventList2.componentModules }}}",
                                          chevron: "{{{ eventList2.componentChevron }}}",
                                          icon: "{{{ eventList2.componentIcon }}}")}}
