ol,
ul {
  @include list-unstyled;

  padding-bottom: 0;

  li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    position: relative;

    &::before {
      color: color('grey-3');
      left: 0;
      margin-top: 12px;
      position: absolute;
      top: 0;
    }
  }
}

ul li::before {
  background-color: currentColor;
  border-radius: 100%;
  content: '';
  display: block;
  height: 5px;
  width: 5px;
}

ol {
  counter-reset: list-item;

  li::before {
    content: counter(list-item);
    counter-increment: list-item;
    line-height: 5px;
  }
}
