%yellow-foil {
  background-color: color('yellow');
  background-image: url(../images/patterns/foil-yellow.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%white-foil {
  background-image: url(../images/patterns/foil-white.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%yellow-card-body {
  *:not(.btn) {
    color: color('charcoal');
  }
}

%charcoal-card-body {
  background: color('charcoal');

  *:not(.card-tags) {
    color: $white;
  }

  // stylelint-disable-next-line
  > .card-taglist > ul > li {
    color: #ffd200;
  }
}
