&-horizontal > .content {
  margin: 0;

  > ul {
    @include list-unstyled;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    > li {
      flex-basis: auto;
      max-width: inherit;
      padding: 0;
      width: auto;

      &:not(:last-child) {
        margin: 0 $spacing-2xl $spacing-lg 0;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
}
