&-social-links {
  background-color: $tertiary;
  min-width: 100%;

  > .content {
    margin: 0;

    > ul {
      @include list-unstyled;

      justify-content: flex-start;

      > li {
        flex: 0 0 16px !important;
        max-width: 16px !important;
        padding: 0;
        width: auto;
      }
    }
  }

  ul {
    > li {
      + li {
        margin-left: 15px;

        @include media-breakpoint-up(lg) {
          margin-left: 20px;
        }

        @include media-breakpoint-up(xl) {
          margin-left: 30px;
        }
      }

      a {
        align-items: center;
        color: $white;
        display: inline-flex;
        height: 30px;
        justify-content: center;
        transition: border-radius 300ms ease-in-out;
        text-decoration: none;
        width: 16px;

        &:hover {
          border-radius: 100%;
        }

        // Social network colours (TBC)
        // &[href*='facebook.com'] {
        //   background-color: #5c71ba;
        // }

        // &[href*='twitter.com'] {
        //   background-color: #6d8bc7;
        // }

        // &[href*='youtube.com'] {
        //   background-color: #b34727;
        // }

        // &[href*='instagram.com'] {
        //   background-color: #b97536;
        // }

        // &[href*='linkedin.com'] {
        //   background-color: #4577b8;
        // }
      }
    }
  }

  .icon {
    color: map-deep-get($brand-colours, 'core', 'c9');
    font-size: 16px;
  }
}
