.brand-header {
  // transition: box-shadow 150ms ease;
  transition: $transition-base;

  &__top {
    height: 45px;
    position: relative;

    [data-modules*='global-search'] {
      margin-left: auto;
      position: relative;

      input[type='text'],
      .search-clear,
      &::before {
        color: theme-color('g7');
      }

      input[type='text'] {
        @include placeholder {
          color: theme-color('g7');
        }

        background-color: rgba(215, 211, 217, .1);
        border: 1px solid transparent;
        border-radius: 15px;
        font-weight: 300;
        line-height: 20px;
        padding: 4px 40px 4px 30px;

        &:focus {
          border: 1px solid rgba(215, 211, 217, .3);
        }
      }

      .clear-search,
      &::before {
        position: absolute;
      }

      .clear-search {
        color: theme-color('g7');
        right: 14px;
        top: 10px;
      }

      .suggestions {
        $offset: 12px;

        background-color: #665f6c;
        box-shadow: 1px 4px 4px 0 rgba($black, .2);
        left: $offset;
        padding: 20px;
        top: calc(100% + 2px);
        width: calc(100% - #{$offset * 2});

        ul {
          font-size: 14px;
          margin-bottom: 20px;
        }

        a {
          color: #d7d3d9;

          @include hover-focus {
            color: theme-color('c2');
          }
        }

        button,
        button:focus,
        button:hover {
          background-color: transparent;
          border-color: currentColor;
          border-width: 1px;
          color: theme-color('g7');
          font-size: 14px;
          font-weight: 300;
          line-height: $font-size-base;
          padding: 6px 0;
          text-transform: none;
        }
      }

      &::before {
        @include pseudo-icon('search', 15px, $needs-margin: false);

        left: 8px;
        top: 7px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &::before {
      background-color: theme-color('g2');
      box-shadow: inset 0 -3px 4px 0 rgba($black, .3);
      content: '';
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: calc(100vw + 2%);
      z-index: -1;
    }

    @include media-breakpoint-up(md) {
      height: 60px;
    }
  }

  // Drop down menu
  .dropdown-menu {
    background-color: #a0ece9;
    border-width: 0;
    min-width: 100%;
    margin-top: 0;
    padding: 0;

    @include media-breakpoint-up(lg) {
      box-shadow: 0 2px 9px 0 rgba($black, .3);
      margin-left: -30px;
      margin-top: 5px;
      min-width: 240px;
      opacity: 0;
      padding-bottom: 20px;
      transition: $transition-fade;

      &.show {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(xl) {
      min-width: 260px;
    }
  }

  &__drop-categories {
    flex-direction: column;
    flex-wrap: nowrap;

    &.show {
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;

      &::before {
        box-shadow: inset 0 4px 1px 0 rgba(#4cafbb, .4);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &__drop-category {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    a {
      border-bottom: 1px solid rgba(theme-color('c1'), .3);
      color: $navbar-light-color;
      display: block;
      padding: 20px 30px;

      // Highlight the first link in the menu
      &.parent {
        align-items: center;
        display: inline-flex;
        font-weight: 600;
        margin: 0;
        padding: 20px 30px;

        &::after {
          @include pseudo-icon('plus', 10px, $needs-margin: false);

          font-weight: normal;
          margin-left: 10px;
        }

        @include media-breakpoint-up(lg) {
          background-color: theme-color('c2');
          margin-bottom: 20px;
          padding-bottom: 28px;
          padding-top: 28px;
        }
      }

      @include hover-focus {
        color: $navbar-light-hover-color;
        text-decoration: none;
      }

      @include media-breakpoint-up(lg) {
        border-bottom-width: 0;
        margin: 10px 30px;
        padding: 0;

        // Make none category links slightly smaller
        &:not(.parent) {
          font-size: 14px;
        }
      }
    }

    // Prevent more then 4 menus from appearing at once
    &:nth-child(n+5) {
      display: none;
    }

    &:last-child {
      margin-bottom: -1px;
    }

    @include media-breakpoint-up(md) {
      min-width: 240px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      min-width: 260px;
    }
  }

  // Sticky (stuck) header on scroll
  &--stuck {
    box-shadow: 0 7px 7px 0 rgba($black, .1);
    transform: translateY(-45px);

    @include media-breakpoint-up(md) {
      transform: translateY(-60px);
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    background-color: $white;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100vw + 2%);
    z-index: -1;
  }

  &::after {
    background-color: theme-color('c1');
    height: 3px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      background-image: linear-gradient(to right, #4cafbb, theme-color('c1'));
      height: 5px;
    }
  }
}
