header[component],
.header[component] {
  width: 100%;
  height: 50px;
  @include media-breakpoint-up(lg) {
    height: 90px;
  }
  &.theme--header-swinburne {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    div[component].parsys {
      float: left;
      div[component].theme--image-headerlogo {
        &:first-of-type {
          z-index: 15;
        }
        &:last-of-type {
          z-index: 14;
        }
      }
    }
  }
}

html.aem-AuthorLayer-Edit {
  .header[component].theme--header-swinburne div[component].parsys {
    float: none;
  }
}

