body{
    background:#21201E;
    padding: 0;
    line-height:1.1;
    text-align:left;
    color:rgb(255,255,255);
    font-size:16px;
    font-weight:normal;
    margin: 0;
    position: relative;
}
body * {
    font-family: Open Sans, Arial, sans-serif;
}
.loading {
	position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;   
}
input:not([type="radio"]),
.ui-selectmenu-button,
select,
.guideScribble img,
.afTermsAndConditions {
    border-style:solid;
    border-top-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-color: #d9d5d1;
    height:2.5rem !important;
    color:#292625;
    font-size:0.875rem !important;
    padding-bottom:8px;
    padding-left:25px;
    padding-top:8px;
    padding-right:15px;
    background:#ffffff;
    margin-bottom: 1.0625rem;
    width: 100% !important;
}
textarea {
    border-style:solid;
    border-top-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-color: #d9d5d1;
    height:80px;
    color:#292625;
    font-size:16px !important;
    padding-bottom:8px;
    padding-left:25px;
    padding-top:8px;
    padding-right:15px;
    background:#ffffff;
    margin-bottom: 1.0625rem;
    width: 100%;
}
.ui-selectmenu-button {
	width: 100%;
    border-color: #d9d5d1;
}
.autocomplete input[type="text"],
.ui-selectmenu-button,
select,
.ui-button:hover,
.ui-button:focus,
.ui-button:active {
	background-color: #fff;
	color: #000;
	background-image: url(../assets/input-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 7px 24px;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #c7c8ca;
    background: #c7c8ca;
    color: #000;
}
.ui-selectmenu-button {
	padding-top: 11px;
}
.ui-menu .ui-menu-item-wrapper,
.ui-selectmenu-text {
    font-size:0.875rem;
}
.ui-button .ui-icon,
.mobileLayout {
    display: none !important;
}
.guidePanelDescription,
label {
    margin-bottom: .35em;
}
.afHeader p {
    font-size: 3.25rem;
    margin-bottom: 1.5625rem;
    font-weight: bold;
}
.guideRadioButtonItem .guideWidgetLabel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
    margin-left: 15px;
}
.guideRadioButtonItem .guideWidgetLabel label {
    line-height: 16px;
    margin-top: 2px;
    display: block;
}
.guideRadioButtonGroupItems {
    margin: 10px 0;
}
.guideRadioButtonItem {
    margin-right: 20px;
}
.guideFieldNode p {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.afEditorPlaceholder {
    display: none;
}
.col-md-6 select {
    margin-top: -6px;
}
button[type="submit"] {
    width: 100%;
    padding: 0.8125rem;
    margin: 0;
    border: 0.125rem solid #DC2D27;
    color: #DC2D27;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
button[type="submit"] > span:last-child:after {
    content: ">";
    display: inline-block;
    color: #DC2D27;
    font-size: 16px;
    margin: 2px 0 0 5px;
    vertical-align: top;
    transition: color 0.3s ease-in-out
}
button[type="submit"]:hover > span:last-child:after {
    color: #ffffff;
}
button[type="submit"]:hover {
    border: 2px solid #fff;
    color: #fff;
}
.headerText p {
    text-align: left;
    line-height: 1.1;
    font-size: 52px;
    margin-bottom: 1.5625rem;
}
input[type="radio"] {
    width: 14px;
    padding: 0;
}
.guideFieldNode .dropDownList:before {
    position: absolute;
    display: block;
    font-size: 18px;
    width: 0;
    height: 0;
    right: 0;
    margin-right: 15px;
    top: 0;
    margin-top: 15px;
    z-index: 2;
    color: #DC2D27;
    transform: rotate(45deg);
    border-bottom: 7px solid #DC2D27;
    border-left: 7px solid transparent;
}
.col-md-6 .guideFieldNode .dropDownList:before {
    margin-top: 9px;
}
.col-md-6:first-child {
    padding-right: 5px;
}
@media (max-width: 991px) {
    .col-md-6:first-child {
        padding-right: 0;
    }
    .col-md-6 .guideFieldNode .dropDownList:before {
        margin-top: 7px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 620px;
        margin: 0;
    }
    .col-md-6:first-child {
        width: 45%;
    }
    .col-md-6:last-child {
        width: 55%;
    }
}
@media (max-width: 639px) {
    .headerText p {
        font-size: 48px;
    }
}
.mobileLayout {
    display: none;
}
.validation-failure .guideFieldError {
    color: #DC2D27;
    font-size: 14px;
    margin: -8px 0 10px 0;
    font-weight: 500;
}
.guideHelpQuestionMark {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1rem;
    height: 1rem;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: url(default/resources/questionmark.svg) center center / cover no-repeat, #DC2D27;
    cursor: pointer;
}
.guideHelpQuestionMark:before {
    content: "?";
    font-size: 12px;
    color: #21201E;
    display: block;
    text-align: center;
    margin: 1px 2px 1px 1px;
    font-weight: bold;
}
.guideFieldDescription.long {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -58px;
    display: none;
}
.guideFieldDescription.long p {
	font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
    color: #21201E;
    padding: 5px 10px;
    border: 1px solid #21201E;
}
.dropDownList {
	position: relative;
}
.autocomplete .guideFieldWidget.textField {
    position: relative;
}
.ui-autocomplete {
    overflow-y: scroll;
    overflow-x: hidden;
    height:13em;
}
.autocomplete[data-disabled="true"] .textField:before {
    content: " ";
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/ajax-loader.gif);
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
} 
.autocomplete[data-disabled="true"] .textField,
.autocomplete[data-disabled="true"] .textField > input[aria-readonly="true"],
.autocomplete[data-disabled="true"] .textField:before {
	pointer-events: none;
}       
.guide-af-captcha {
    border: 0.125rem solid #fff;
}
.afcaptcha-img {
    background-color: #fff;
    text-align: center;
}
.afcaptcha-img img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.afcaptcha-input {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding-right: 9px;
}
.afcaptcha-refresh {
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}
input.afcaptcha-refresh-btn {
    padding: 7px;
    margin: 0;
    border-color: #fff;
    color: #fff !important;
    font-weight: bold;
    background-color: transparent !important;
    border-top-width: 2px !important;
    border-left-width: 2px !important;
    border-bottom-width: 2px !important;
    border-right-width: 2px !important;
}
.timer-bar-holder {
    max-width: 75px;
    position: relative;
    margin: 0 auto;
    height: 20px;
}
.afcaptchatimer {
    border: 1px solid #ffffff;
}
.afcaptchatimer-bar {
    background-color: #fff;
}
.GuideCaptcha ~ .guideFieldError {
    margin: 7px 0 10px 0;
}
@media (max-width: 767px){
    .afcaptcha-refresh,
    .afcaptcha-input {
        display: inline-block;
        width: 100%;
        padding-right: 0;
    }
    .afcaptcha-input input {
        margin-bottom: 10px;
    }
    .timer-bar-holder {
        padding-top: 7px;
    }
}