<!-- // Image \\ -->
<div component=""
     role="banner"
     class="image
       {{image.componentProperties.componentTheme}}
       {{image.componentProperties.componentModifier}}
       {{image.componentProperties.componentChevronId}}
       {{image.componentProperties.componentIcon}}
       {{styleModifier}}
"
     id="{{ image.componentProperties.componentId }}"
     data-asset-id="62ffc51a-a89f-437f-93f5-69bcc640ca3e"
     data-asset-trackable="true"
     data-asset-licensed="false"
     data-analytics-event-label="{{{ label }}}"
     data-analytics-metatype="image/jpeg"
     data-analytics-filename="{{{ source }}}"
>
  {{#href}}
    <a href="{{{ href }}}">
  {{/href}}
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="{{ source }}" media="(min-width: 1px) and (max-width: 72px)">
      <source srcset="{{ source }}" media="(min-width: 73px) and (max-width: 210px)">
      <source srcset="{{ source }}" media="(min-width: 211px) and (max-width: 478px)">
      <source srcset="{{ source }}" media="(min-width: 478px)">
      <!--[if IE 9]></video><![endif]-->
      <img src="{{ source }}" title="{{{ label }}}">
    </picture>
  {{#href}}
  </a>
  {{/href}}

  {{#caption}}
    <figcaption>{{{ caption }}}</figcaption>
  {{/caption}}

  {{#license}}
    <span class="license">{{{ license }}}</span>
  {{/license}}

  {{#description}}
    <div class="description">{{{ description }}}</div>
  {{/description}}

  {{#textmuted}}
    <small class="text-muted license"> {{{ textmuted }}} </small>
  {{/textmuted}}
</div>
