<div class="pagelist theme--lists-fill">
  <div class="content">
    <ul>
    {{# cards-search }}
      <li>
        {{> components-card.result }}
      </li>
    {{/ cards-search }}
    </ul>
  </div>
</div>
