<div class="contentblock theme--contentblock-alert">
  <div class="text">
    <p>This tool is not supported on mobile devices, but why not send yourself a link to access later from your desktop or tablet.</p>
  </div>
  <div class="button">
    <a class="btn btn-primary d-block" href="#">Email link</a>
  </div>
</div>
