<section class="contentblock theme--contentblock-hero theme--video-background mb-60 py-60 py-md-90" style="background-image: url('https://via.placeholder.com/1900x1080')">
  <div class="video">
    {{> components-video( no-autoplay: true ) }}
  </div>

  <div class="content">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col col-md-8">
          <div class="text text-white text-uppercase mb-45 mb-md-60">
            <h1>PAGE TITLE</h1>
          </div>

          <div class="button mb-45 mb-md-60">
            <button class="btn btn-primary" data-modules="play-video">Discover This</button>
            {{!-- <a class="btn btn-primary" href="https://www.youtube.com/watch?v=q1bkfBqlvSY" data-modules="play-video">Discover &lt;This&gt;</a> --}}
            {{!-- <a class="btn btn-primary" href="https://vimeo.com/174796193" data-modules="play-video">Play Vimeo Video</a> --}}
          </div>

          <div class="image">
            <img src="//via.placeholder.com/220x60?text=AEM.DESIGN" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
