<div class="pagelist" data-modules="carousel">
  <div class="content">
    <ul>
    {{# cards-coloured }}
      <li>
        {{> components-card.image:card--coloured }}
      </li>
    {{/ cards-coloured }}
    </ul>
  </div>
</div>
