{{# custom-button }}
  {{# button-href }}
    <a href="{{ button-href }}" class="btn {{ classes }} {{ styleModifier }}">{{ button-label }}</a>
  {{/ button-href }}

  {{^ button-href }}
    <button type="button" class="btn {{ classes }} {{ styleModifier }}">{{ button-label }}</button>
  {{/ button-href }}
{{/ custom-button }}

{{^ custom-button }}
  {{# buttons }}
    <button type="button" class="btn btn-{{ modifier }}">{{ label }}</button>
  {{/ buttons }}
  <!-- JSP Version:
    <a ${componentProperties.componentAttributes}>${componentProperties.label}</a>
    <button ${componentProperties.componentAttributes}>${componentProperties.label}</button>
  -->
{{/ custom-button }}
