
<div class="contentblock mt-90 mb-90 text-center">
  <div class="container">
  

    <div class="row justify-content-center">
      <div class="col col-md-12">
        <h1>Article Heading with 01234</h1>
        <!-- style -->
        <p class='lead'>Paragraph Lead... Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum accusamus, iste optio, quaerat officiis veritatis voluptas minus quasi delectus ratione suscipit, quas ea iusto. Maiores neque voluptas minus iure?</p>
        <p>Body Copy... Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum accusamus, iste optio, quaerat officiis veritatis voluptas minus quasi delectus ratione suscipit, quas ea iusto. Maiores neque voluptas minus iure?</p>
      </div>
    </div>


  </div>
</div>
