<ul component="" class="navlist
  {{ navlist.componentProperties.componentTheme }}
  {{ navlist.componentProperties.componentModifier }}
  {{ navlist.componentProperties.componentTheme }}
  {{ navlist.componentProperties.componentIcon }}
" id="{{ navlist.componentProperties.componentId }}">
  <li class="nav-item">
    <a href="#" class="nav-link active" title="">
      Lists<span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item active">
    <a href="#" class="nav-link active" title="">
      Layout<span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" title="">
      Templates<span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" title="">
      Details<span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" title="">
      Content<span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" title="">
      Media<span class="sr-only">(current)</span>
    </a>
  </li>
</ul>
