<div class="contentblock theme--contentblock-pull-quote">
  {{> components-page-date }}
  <h5 class="fw-300">The future is here</h5>

  {{> components-tag:tags--simple }}

  {{> components-blockquote(
    no-quote: true
  ) }}

  {{> components-button:btn-primary(
    custom-button: true,
    button-href: "https://www.google.com.au",
    button-label: "Read article"
  ) }}
</div>
