<blockquote>
  Lorem ipsum pull quote from article, dolor sit amet tudor bein consec ateur.
</blockquote>
{{^ no-quote }}
<p class="text-center">
  <span class="text-quote-suffix">&lt;Quoted Person&gt;</span>
</p>
{{/ no-quote }}
