<footer>
  <div class="brand-footer__top py-30">
    <section class="contentblock text-center text-md-left">
      <div class="colctrl">
        <div class="row">
          <div class="col-sm col-md-3">
            <picture>
              <source media="(min-width: 768px)" srcset="/images/logos/aemdesign.svg">
              <img src="/images/logos/aemdesign.svg" alt="AEM.Design logo">
            </picture>
          </div>

          <div class="col-sm col-md-9">
            <div class="pagelist theme--lists-md-inline theme--lists-light theme--lists-je mb-30 mb-md-15">
              <div class="content">
                <ul>
                  <li class="first"><a href="#">FAQs</a></li>
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Security</a></li>
                  <li><a href="#">Info</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li class="last"><a href="#">Search</a></li>
                </ul>
              </div>
            </div>

            <div class="pagelist theme--lists-inline theme--lists-light theme--lists-jc theme--lists-md-je pt-generic">
              <div class="content">
                <ul>
                  <li>
                    <a href="#">
                      <svg class="d-block" height="16" width="16">
                        <use xlink:href="#icons-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="d-block" height="14" width="18">
                        <use xlink:href="#icons-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="d-block" height="15" width="24">
                        <use xlink:href="#icons-google-plus"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="brand-footer__bottom py-30">
    <section class="contentblock text-white p4">
      <div class="colctrl">
        <p>&copy; 2018 AEM.Design</p>
        <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellendus in eius totam placeat unde cupiditate exercitationem, minima odio minus suscipit ipsam voluptatibus ad rem magnam, omnis quas corrupti ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi assumenda necessitatibus fugiat ipsam sint, cupiditate hic dolor. Laborum explicabo vero quidem consequuntur voluptate iste illum unde nihil, repellendus nam velit.</p>
      </div>
    </section>
  </div>
</footer>
