<div class="pagelist">
  <div class="content">
    <ul>
    {{# cards }}
      <li>
      {{# card-padded }}
        {{# card-image }}
          {{> components-card.image }}
        {{/ card-image }}

        {{^ card-image }}
          {{> components-card.icon }}
        {{/ card-image }}
      {{/ card-padded }}

      {{^ card-padded }}
        {{> components-card.default }}
      {{/ card-padded }}
      </li>
    {{/ cards }}
    </ul>
  </div>
</div>
