<div class="pagelist theme--lists-flat theme--lists-large">
  <div class="content">
    <ul>
    {{# cards-related }}
      <li>
        {{> components-card.image }}
      </li>
    {{/ cards-related }}
    </ul>
  </div>
</div>
