<div class="pagelist theme--lists-flat theme--lists-large">
  <div class="content">
    <ul>
    {{# cards-outline }}
      <li>
        {{> components-card.image:card--outline }}
      </li>
    {{/ cards-outline }}
    </ul>
  </div>
</div>
