<div class="pagelist theme--lists-large">
  <div class="content">
    <ul>
    {{# cards-author }}
      <li>
        {{> components-card.image:card--author }}
      </li>
    {{/ cards-author }}
    </ul>
  </div>
</div>
