<div class="pagelist theme--lists-equal">
  <div class="content">
    <ul>
    {{# cards-medium }}
      <li>
        {{> components-card.medium }}
      </li>
    {{/ cards-medium }}
    </ul>
  </div>
</div>
