<div class="pagelist theme--lists-equal">
  <div class="content">
    <ul>
    {{# cards-medium-tall }}
      <li>
        {{> components-card.medium:card--medium-tall }}
      </li>
    {{/ cards-medium-tall }}
    </ul>
  </div>
</div>
