<div class="pagelist theme--lists-equal theme--lists-flush cards-no-shadow">
  <div class="content">
    <ul>
    {{# cards-medium }}
      <li>
        {{> components-card.medium }}
      </li>
    {{/ cards-medium }}
    </ul>
  </div>
</div>
