<div class="pagelist theme--lists-large">
  <div class="content">
    <ul>
    {{# cards-promoted }}
      <li>
        {{> components-card.promoted }}
      </li>
    {{/ cards-promoted }}
    </ul>
  </div>
</div>
