<div class="card card--padded icon--{{ card-icon.size }} {{ card-classes }}">
  <div class="card-icon">
    <i class="{{ card-icon.category }} fa-{{ card-icon.name }}"></i>
  </div>

  {{> components-card.body }}
</div>
