<div class="card-body">
{{!-- Card --}}
{{# card-product-name }}
  <p class="card-product-name">{{ card-product-name }}</p>
{{/ card-product-name }}

{{!-- Date --}}
{{# card-show-date }}
  <div class="card-date">
    {{> components-page-date }}
  </div>
{{/ card-show-date }}

  {{!-- Title --}}
  <{{ card-title-size }} class="card-title">{{{ card-title }}}</{{ card-title-size }}>

{{!-- Sub-title --}}
{{# card-show-subtitle }}
  <div class="card-subtitle">
    <p>Subtitle goes here</p>
  </div>
{{/ card-show-subtitle }}

{{!-- Tags --}}
{{# card-show-tags }}
  <div class="card-tags">
    {{> components-tag:tags--simple }}
  </div>
{{/ card-show-tags }}

{{!-- Text --}}
{{# card-text }}
  <div class="card-text">
    {{{ card-text }}}
  </div>
{{/ card-text }}

  {{!-- CTA Buttons --}}
  <div class="card-buttons">
    {{# card-ctas }}
      {{> components-button }}
    {{/ card-ctas }}
  </div>
</div>
