<ul>
  <li>
    <div class="p-30 bg-g2">First Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Second Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Third Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Fourth Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Fifth Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Sixth Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Seventh Item</div>
  </li>
  <li>
    <div class="p-30 bg-g2">Eighth Item</div>
  </li>
</ul>
