<div class="pagelist
  {{pagelist.componentProperties.componentTheme}}
  {{pagelist.componentProperties.componentModifier}}
  {{pagelist.componentProperties.componentChevronId}}
  {{pagelist.componentProperties.componentIcon}}
  {{styleModifier}}
" data-list-split-every="3" id="{{pageList.componentProperties.componentId}}" data-has-pages="false">
  <div class="content">
    {{> components-pagelist.body }}
  </div>
</div>
