<div id="spreadsheet"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="//cdn.jsdelivr.net/jstat/latest/jstat.min.js"></script>
<script src="/js/calc-prototype.js"></script>
