{{> components-header }}

{{> components-background-video }}

<section class="contentblock mb-60 text-center">
  <div class="container mb-30">
    <div class="row justify-content-center">
      <div class="col col-md-8">
        {{> components-text(
          text: "<h2 class='test'>You will live longer than you've probably planned for</h2>"
        ) }}
        {{> components-text(
          text: "<p class='lead'>Australians are living longer, healthier lives. That's great, but it means that many Australians struggle to adequately plan for retirement.</p>"
        ) }}
      </div>
    </div>
  </div>

  <div class="pagelist mb-30 text-center theme--lists-large cards-no-shadow cards-no-bar">
    <div class="content">
      <ul>
      {{# cards-generic }}
        <li>
          {{> components-card.image }}
        </li>
      {{/ cards-generic }}
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8">
        {{> components-text(
          text: "<p class='lead'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sequi ad dolor sit. Explicabo, odio ipsam aut expedita odit recusandae porro, debitis aspernatur doloribus dicta mollitia similique, beatae minus velit?</p>"
        ) }}
      </div>
    </div>
  </div>
</section>

<section class="contentblock mb-90">
  <div class="container theme--grid-flush cards-no-shadow">
    <div class="row">
    {{# cards-large }}
      <div class="col-12">
        {{> components-card.large }}
      </div>
    {{/ cards-large }}
    {{# cards-medium }}
      <div class="col-sm col-md-6">
        {{> components-card.medium }}
      </div>
    {{/ cards-medium }}
    </div>
  </div>
</section>

<section class="contentblock mb-60">
  <div class="container mb-30">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        {{> components-text(
          text: "<p class='lead'>Section Lead</p>"
        ) }}

        {{> components-text(
          text: "<h2 class='h1'>Section Title</h2>"
        ) }}
        {{> components-text(
          text: "<p>Section Text</p>"
        ) }}
      </div>
    </div>
  </div>

  <div class="pagelist mb-30 text-center theme--lists-large cards-no-shadow cards-no-bar">
    <div class="content">
      <ul>
      {{# cards-generic }}
        <li>
          {{> components-card.image }}
        </li>
      {{/ cards-generic }}
      </ul>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        {{> components-button:btn-primary(
          custom-button: true,
          button-href: "https://www.google.com.au",
          button-label: "Learn more about us"
        ) }}
      </div>
    </div>
  </div>
</section>

<section class="contentblock bg-c5 py-60">
  <div class="pagelist theme--lists-large">
    <div class="content">
      <ul>
      {{# cards-promoted }}
        <li>
          {{> components-card.promoted }}
        </li>
      {{/ cards-promoted }}
      </ul>
    </div>
  </div>
</section>

{{> components-footer }}
