<div {{> components-componentAttributes( componentName: "eventlist",
                                         componentId: "{{{ id }}}",
                                         componentTheme: "{{{ theme }}}",
                                         componentModifier: "{{{ modifier }}}",
                                         componentModules: "{{{ modules }}}",
                                         componentChevron: "{{{ chevron }}}",
                                         componentIcon: "{{{ icon }}}",
                                         componentStyle: "{{{ style }}}") }}
>
  <div class="content">
    <ul>
      {{# eventList2Cards }}
        <li class="first">
          <div class="card small {{eventStatus}}">
            <div class="card-icon">
              <i class="{{icon}}"></i>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{{title}}}</h3>
              <div class="card-subtitle">{{{subtitle}}}</div>
              <div class="card-date">{{{datetime}}}</div>
            </div>
          </div>
        </li>
      {{/ eventList2Cards }}
    </ul>
  </div>
</div>



