{{> components-pagedetails.default( id: "{{{ pagedetails1.componentId }}}",
                                    theme: "{{{ pagedetails1.componentTheme }}}",
                                    modifier: "{{{ pagedetails1.componentModifier }}}",
                                    modules: "{{{ pagedetails1.componentModules }}}",
                                    chevron: "{{{ pagedetails1.componentChevron }}}",
                                    icon: "{{{ pagedetails1.componentIcon }}}",
                                    style: "{{{ pagedetails1.backgroundImage }}}",
                                    text: "{{{ pagedetails1.text }}}",
                                    title: "{{{ pagedetails1.title }}}",
                                    description: "{{{ pagedetails1.description }}}",
                                    btnText: "{{{ pagedetails1.btnText }}}",
                                    btnHref: "{{{ pagedetails1.btnHref }}}",
                                    src: "{{{ pagedetails1.imageSrc }}}",
                                    alt: "{{{ pagedetails1.imageAlt }}}",
                                    btnModifier: "{{{ link3.componentModifier }}}") }}
