{{> components-pagedetails.default( id: "{{{ pagedetails2.componentId }}}",
                                    theme: "{{{ pagedetails2.componentTheme }}}",
                                    modifier: "{{{ pagedetails2.componentModifier }}}",
                                    modules: "{{{ pagedetails2.componentModules }}}",
                                    chevron: "{{{ pagedetails2.componentChevron }}}",
                                    icon: "{{{ pagedetails2.componentIcon }}}",
                                    style: "{{{ pagedetails2.backgroundImage }}}",
                                    text: "{{{ pagedetails2.text }}}",
                                    title: "{{{ pagedetails2.title }}}",
                                    description: "{{{ pagedetails2.description }}}",
                                    btnText: "{{{ pagedetails2.btnText }}}",
                                    btnHref: "{{{ pagedetails2.btnHref }}}",
                                    src: "{{{ pagedetails2.imageSrc }}}",
                                    alt: "{{{ pagedetails2.imageAlt }}}",
                                    btnModifier: "{{{ link7.componentModifier }}}") }}
