// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.
.theme--contentblock,
.contentblock {
  &-banner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-position: center;
    @media (min-width: $screen-sm) {
      height: 400px;
    }
    @media (min-width: $screen-lg) {
      background-position: 75% top;
    }
    & > .container > [class*="aem-Grid"] {
      margin: 50px 5px 5px 0;
      width: 60%;
      z-index: 11;
      @media (min-width: 578px) {
        width: 35%;
        margin: 100px 5px 100px 0;
      }
      background-color: $white;
      padding: 13px;
      @media (min-width: $screen-sm) {
        padding: 20px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 1.1;
        @media (min-width: $screen-sm) {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
      a {
        @media (max-width: $screen-sm-max) {
          padding: 5px 5px;
          font-size: 12px;
        }
      }
    }
  }
  &.theme--contentblock-carousel {
    .text[component] h2 {
      padding: 20px 20px 0 20px;
      text-align: center;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 52px;
        padding: 60px 20px 0 20px;
      }
    }
  }
  &.theme--contentblock-form {
    padding: 25px 0;
    @include media-breakpoint-up(md) {
      padding: 105px 0;
    }
    div[component].colctrl {
      @include media-breakpoint-up(md) {
        max-width: 80%;
      }
      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
      & > .row {
        background-color: $white;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .row {
      .parsys_column {
        padding: 40px 20px;
        @include media-breakpoint-up(md) {
          padding: 40px;
        }
        &:first-child {
          padding: 40px 20px;
          p {
            font-size: 16px;
            margin-bottom: 15px;
          }
          h1 {
            font-size: 45px;
          }
          @include media-breakpoint-up(md) {
            padding: 40px;
            p {
              font-size: 20px;
            }
          }
        }
        &:last-child {
          background-color: $black;
        }
      }
    }
  }
}
