@mixin inputStyle() {
  display: block;
  width: 100%;
  margin-bottom: 17px;
  height: 50px;
  box-sizing: border-box;
  background: $white;
  border: 1px solid #d9d5d1;
  padding: 8px 15px 8px 30px;
  font-size: 16px;
  line-height: 1.4em;
  color: #292625;
  border-radius: 0;
  vertical-align: middle;
  -webkit-appearance: none;
}


.guideFieldNode {
  & * {
    font-family: $font-family-open-sans;
  }
  input:not([type="radio"]):not([type="checkbox"]){
    @include inputStyle();
    @include placeholder {
      color: map-deep-get($brand-colours, 'core', 'c6');
    }
    &:focus {
      border: 1px solid map-deep-get($brand-colours, 'core', 'c2');
      outline: none;
      @include placeholder {
        color: map-deep-get($brand-colours, 'core', 'c6');
      }
    }
  }
  .guideFieldLabel {
    &.top {
      label {
        display: block;
        margin-bottom: .35em;
      }
    }
  }
  &.error {
    input:not([type="radio"]):not([type="checkbox"]) {
      border: 1px solid map-deep-get($brand-colours, 'core', 'c7')
    }
  }
  &.success {
    input:not([type="radio"]):not([type="checkbox"]) {
      border: 1px solid map-deep-get($brand-colours, 'core', 'c1')
    }
  }
}
