html:not(.aem-AuthorLayer-Edit) {
  div[component].theme--image-headerlogo {
    width: 50px;
    height: 50px;
    @include media-breakpoint-up(lg) {
      width: 90px;
      height: 90px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:last-child  {
      position: absolute;
      top: 90px;
    }
  }
}

.image[component] {
  &.img-fluid {
    img {
      min-width: auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

html.aem-AuthorLayer-Edit {
  div[component].theme--image-headerlogo {
    position: relative;
    top: 0;
    picture {
      &,
      img {
        display: block;
      }
      img {
        width: 90px;
        height: auto;
        min-width: inherit;
      }
    }
  }
}

