// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.
.text[component] {
  color: $black;
  p{
    font-size: 20px;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 180%;
  }
  h4 {
    font-size: 160%;
  }
  h5 {
    font-size: 140%;
  }
  h6 {
    font-size: 120%;
  }
  ol, ul {
    padding-left: 3em;
    padding-bottom: 1em;
  }
  .row li {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: .5em;
  }
}

//modifiers
.bg-c8 {
  &,
  * {
    color: $white !important;
  }
}

.bg-c9  {
  &,
  * {
    color: $black !important;
  }
}

.text-uppercase {
  &,
  * {
    text-transform: uppercase !important;
  }
}
.text-xsmall {
  &,
  * {
    font-size: 12px !important;
  }
}
.text-red {
  &,
  * {
    color: $secondary !important;
  }
}
.text-black {
  &,
  * {
    color: $primary !important;
  }
}
.text-white {
  &,
  * {
    color: $white !important;
  }
}



