// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.
.text[component] {
  color: $black;
  p{
    font-size: 20px;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 220%;
    margin: 0;
  }
  h2 {
    font-size: 200%;
    margin: 0;
  }
  h3 {
    font-size: 180%;
    margin: 0;
  }
  h4 {
    font-size: 160%;
    margin: 0;
  }
  h5 {
    font-size: 140%;
    margin: 0;
  }
  h6 {
    font-size: 120%;
    margin: 0;
  }
  ol, ul {
    padding-left: 3em;
    padding-bottom: 1em;
  }
  ul {
    list-style: none;
    li {
      position: relative;
      font-size: 20px;
      &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 8px 0 0 -20px;
        vertical-align: middle;
        border-top: 5px solid transparent;
        border-left: 10px solid $secondary;
        border-bottom: 5px solid transparent;
      }
    }
  }
  .row li {
    line-height: 1.2;
    padding-bottom: .5em;
  }
}

//modifiers
.bg-c8:not(.card) {
  &,
  * {
    color: $white !important;
  }
}

.bg-c9:not(.card)  {
  &,
  * {
    color: $black !important;
  }
}

.text-uppercase {
  &,
  * {
    text-transform: uppercase !important;
  }
}
.text-xsmall {
  &,
  * {
    font-size: 12px !important;
  }
}
.text-red {
  &,
  * {
    color: $secondary !important;
  }
}
.text-black {
  &,
  * {
    color: $primary !important;
  }
}
.text-white {
  &,
  * {
    color: $white !important;
  }
}



