// themes for use only in the Styleguide

&--styleguide {
  &-page-details {
    padding: $spacing-6xl $spacing-4xl $spacing-4xl;
    background: url('../images/patterns/yellow.png')  0 100% repeat-x;
  }

  &-colour-panel {
    .wrapper {
      padding: 20px;
      text-align: left;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      min-height: 120px;
      margin-bottom: #{$grid-gutter * 2}px;

      span {
        display: block;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
  }
}
