// Colours

$brand-colours: (
  'core': (
    c1:  #dc2d27,
    c2:  #ffd200,
    c3:  #242323,
    c4:  #85c441,
    c5:  #00aeef,
    c6:  #883681,
    c7:  #00bed8,
    c8:  #21201e,
    c9:  #fff,
    c10: #292625,
    c11: #d9d5d1,
  ),

  'grey': (
    g1: #242323,
    g2: #737578,
    g3: #a5a5a5,
    g4: #d1d1d1,
    g5: #e2e2e2,
    g6: #f6f6f6,
    g7: $white,
  ),
);

$primary:    map-deep-get($brand-colours, 'core', 'c1');
$secondary:  map-deep-get($brand-colours, 'core', 'c2');
$tertiary:   map-deep-get($brand-colours, 'core', 'c3');
$color-4:    map-deep-get($brand-colours, 'core', 'c4');
$color-5:    map-deep-get($brand-colours, 'core', 'c5');
$color-6:    map-deep-get($brand-colours, 'core', 'c6');
$color-7:    map-deep-get($brand-colours, 'core', 'c7');

// Lighten colours
$primary-50:   #ed9693;
$secondary-50: #fff589;
$color-4-50:   #c2e1a0;
$color-5-50:   #7fd6f7;
$color-6-50:   #c39ac0;
$color-7-50:   #7dfeeb;

// Grey colours
$grey-1: map-deep-get($brand-colours, 'grey', 'g1');
$grey-2: map-deep-get($brand-colours, 'grey', 'g2');
$grey-3: map-deep-get($brand-colours, 'grey', 'g3');
$grey-4: map-deep-get($brand-colours, 'grey', 'g4');
$grey-5: map-deep-get($brand-colours, 'grey', 'g5');
$grey-6: map-deep-get($brand-colours, 'grey', 'g6');

$theme-colors: (
  'primary':   $primary,
  'secondary': $secondary,
  'tertiary':  $tertiary,

  'c1': map-deep-get($brand-colours, 'core', 'c1'),
  'c2': map-deep-get($brand-colours, 'core', 'c2'),
  'c3': map-deep-get($brand-colours, 'core', 'c3'),
  'c4': map-deep-get($brand-colours, 'core', 'c4'),
  'c5': map-deep-get($brand-colours, 'core', 'c5'),
  'c6': map-deep-get($brand-colours, 'core', 'c6'),
  'c7': map-deep-get($brand-colours, 'core', 'c7'),
  'c8': map-deep-get($brand-colours, 'core', 'c8'),
  'c9': map-deep-get($brand-colours, 'core', 'c9'),

  'g1': map-deep-get($brand-colours, 'grey', 'g1'),
  'g2': map-deep-get($brand-colours, 'grey', 'g2'),
  'g3': map-deep-get($brand-colours, 'grey', 'g3'),
  'g4': map-deep-get($brand-colours, 'grey', 'g4'),
  'g5': map-deep-get($brand-colours, 'grey', 'g5'),
  'g6': map-deep-get($brand-colours, 'grey', 'g6'),
  'g7': map-deep-get($brand-colours, 'grey', 'g7'),
);


// Body

$body-bg:                   theme-color('g7');
$body-color:                theme-color('g1');


// Spacers used for utility classes

$spacers: (
  0  : 0,
  5  : 5px,
  10 : 10px,
  15 : 15px,
  20 : 20px,
  25 : 25px,
  30 : 30px,
  35 : 35px,
  40 : 40px,
);


// Spacing variables

$spacing-2xs: 5px;
$spacing-xs:  10px;
$spacing-sm:  15px;
$spacing-md:  20px;
$spacing-lg:  25px;
$spacing-2xl: 30px;
$spacing-3xl: 35px;
$spacing-4xl: 40px;
$spacing-5xl: 45px;
$spacing-6xl: 50px;
$spacing-7xl: 55px;


// Components
//
// Define common padding and border radius sizes and more.

$border-color:                theme-color('c6');

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;


// Fonts

$font-family-awesome:         'Font Awesome 5 Pro';
$font-family-base:            'Open Sans', sans-serif;

$font-size-base:              16px;

$line-height-base:            22px;

$h1-font-size:                60px;
$h2-font-size:                40px;
$h3-font-size:                30px;
$h4-font-size:                26px;
$h5-font-size:                24px;
$h6-font-size:                20px;

$headings-margin-bottom:      $spacing-sm;
$headings-font-weight:        normal;
$headings-line-height:        1;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;


// Options

$enable-rounded:            true;


// Animation

$animation-speed:           150ms;


// Icons

$icon-sizes: (
  xs: 16px,
  sm: 24px,
  md: 48px,
  lg: 72px,
  xl: 96px,
);


// Custom typography map for responsive headings and text

$typography: (
  headings: (
    h1: (
      xs: (
        font-size: 40px,
        line-height: 42px,
      ),
      md: (
        font-size: 40px,
        line-height: 42px,
      ),
      lg: (
        font-size: $h1-font-size,
        line-height: 63px,
      ),
    ),

    h2: (
      xs: (
        font-size: 35px,
        line-height: 41px,
        font-weight: 600,
      ),
      md: (
        font-size: 38px,
        line-height: 42px,
      ),
      lg: (
        font-size: $h2-font-size,
        line-height: 48px,
      ),
    ),

    h3: (
      xs: (
        font-size: 26px,
        line-height: 32px,
        font-weight: 600,
      ),
      md: (
        font-size: 28px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h3-font-size,
        line-height: 38px,
      ),
    ),

    h4: (
      xs: (
        font-size: 24px,
        line-height: 30px,
        font-weight: 600,
      ),
      md: (
        font-size: 26px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h4-font-size,
        line-height: 34px,
      ),
    ),

    h5: (
      xs: (
        font-size: 20px,
        line-height: 26px,
        font-weight: 600,
      ),
      md: (
        font-size: 22px,
        line-height: 30px,
      ),
      lg: (
        font-size: $h5-font-size,
        line-height: 32px,
      ),
    ),

    h6: (
      xs: (
        font-size: 18px,
        line-height: 24px,
        font-weight: 600,
      ),
      md: (
        font-size: 20px,
        line-height: 28px,
      ),
      lg: (
        font-size: $h6-font-size,
        line-height: 28px,
      ),
    ),
  ),

  paragraphs: (
    p1: (
      default-selector : '.lead',
      no-tag           : true,

      xs: (
        only        : true,
        line-height : 24px,
      ),
    ),

    p2: (
      default-selector: 'p',

      xs: (
        only        : true,
        line-height : 22px,
      ),
    ),

    p3: (
      no-tag: true,

      xs: (
        font-size: 14px,
        line-height: 24px,
      ),
    ),

    p4: (
      no-tag: true,

      xs: (
        font-size: 12px,
        line-height: 20px,
      ),
    ),
  ),
);


// Grid generic

$aem-prefix:     'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);


// Paragraphs

$paragraph-margin-bottom: 16px;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 640px,
  lg: 1024px,
  xl: 1366px,
);


// Grid containers

$container-max-widths: (
  xl: 1366px
);


// Grid columns

$grid-gutter-width: 26px;


// Navs

$nav-link-padding-y:                0;
$nav-link-padding-x:                0;

$nav-tabs-border-color:             theme-color('c6');
$nav-tabs-border-width:             2px;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-color:        theme-color('c6');
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;


// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         0;

$navbar-brand-font-size:            rem-calc(32px);
$navbar-brand-padding-y:            0;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;

$navbar-light-color:                theme-color('c6');
$navbar-light-hover-color:          theme-color('g1');
$navbar-light-active-color:         theme-color('g1');
$navbar-light-disabled-color:       theme-color('g5');
$navbar-light-toggler-icon-bg:      null;
$navbar-light-toggler-border-color: null;


// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          inherit;
$breadcrumb-active-color:           inherit;
$breadcrumb-divider:                '›';


// Cards

$card-spacer-y:                     16px;
$card-spacer-x:                     25px;
$card-border-width:                 0;
$card-bg:                           transparent;


// Buttons

$btn-padding-y:               0;
$btn-padding-x:               20px;
$btn-font-size:               12px;
$btn-line-height:             $line-height-base;

$btn-padding-y-sm:            0;
$btn-padding-x-sm:            20px;
$btn-font-size-sm:            10px;
$btn-line-height-sm:          14px;

$btn-padding-y-lg:            0;
$btn-padding-x-lg:            20px;
$btn-font-size-lg:            14px;
$btn-line-height-lg:          $line-height-base;

$btn-font-weight:             600;
$btn-box-shadow:              none;
$btn-focus-width:             false;
$btn-focus-box-shadow:        false;
$btn-disabled-opacity:        1;

$btn-border-radius:           3px;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;



$btn-secondary-charcoal-hover-color:    #58595b;
$btn-secondary-primary-border-color:    #ad1914;
$btn-secondary-yellow-border-color:     #fbb946;
$btn-secondary-yellow-color:            #ffeb16;
