html:not(.aem-AuthorLayer-Edit ) {
  .styleguide {
    .article,
    aside {
      display: inline-block;
      float: left;
    }
    .article {
      width: calc(100% - 300px);
    }
    aside {
      width: 300px;
      .navlist[component] {
        &,
        & > li {
          display: block;
          top: 0;
          height: auto;
        }
        & > li {
          margin-left: 15px;
          a {
            &:hover {
              text-decoration: none;
              &:after {
                content: " ";
                width: 0;
                overflow: hidden;
                opacity: 0;
              }
            }
          }
        }
      }
    }

  }
}
