$styleguide-sidebar-width: 235px;

html:not(.aem-AuthorLayer-Edit ) {
  .styleguide {
<<<<<<< HEAD
    .article,
    aside,
    .aside {
      height: 100%;
    }

    .article,
=======
    padding: 80px 0;
    div.article,
>>>>>>> develop-v2
    aside {
      display: inline-block;
      vertical-align: top;
    }
<<<<<<< HEAD
    .article {
      width: calc(100% - #{$styleguide-sidebar-width});
    }
    article {
      width: 100%;
=======
    div.article {
      width: calc(100% - 310px);
>>>>>>> develop-v2
    }
    aside {
      width: $styleguide-sidebar-width;
      border-right: 1px solid #F6F6F6;
      .navlist[component] {
        &,
        & > li {
          display: block;
          top: 0;
          height: auto;
          margin-top: 5px;
          margin-bottom: 0;
        }
        & > li {
          margin-left: 15px;
          a {
            &:hover {
              text-decoration: none;
              &:after {
                content: " ";
                width: 0;
                overflow: hidden;
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .nav-link {
      color: #737578;
      font-size: 14px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  // todo: remove this after typography DLS ticket SWU-398 is complete
  .text[component] h1 {
    padding: 50px 8.5%;
    font-size: 35px;
    font-weight: 300;
    background-color: #FFEA12;
    text-transform: none;
  }
}

.theme--colour-panel {
    .wrapper {
      padding: 20px;
      text-align: left;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      min-height: 120px;
      margin-bottom: 30px;
      span {
        display: block;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
}
