{{> components-formsRadioButton.default(type: "{{{ formsRadioButton.type }}}", modifier: "{{{ formsRadioButton.componentModifier }}}", id: "{{{ formsRadioButton.componentId }}}", name: "{{{ formsRadioButton.name }}}", panelPath: "{{{ formsRadioButton.panelPath }}}", label: "{{{ formsRadioButton.label }}}",
                                        label1Name: "{{{ formsRadioButton.label1.name }}}", label2Name: "{{{ formsRadioButton.label2.name }}}",
                                        label1Id: "{{{ formsRadioButton.label1.id }}}", label2Id: "{{{ formsRadioButton.label2.id }}}"
) }}
