<div id="guideContainer-rootPanel-guideradiobutton___guide-item" class="col-md-12" data-guide-parent-id="guideContainer-{{{ panelPath }}}__">
  <div class="guideradiobutton guidefield cq-Editable-dom">
    <div {{> components-formFieldAttributes( name: "{{{ name }}}", css: "{{{ modifier }}}", panelPath: "{{{ panelPath }}}", type: "{{{ type }}}" ) }} data-disabled="false" role="radiogroup">
      <div class="guideFieldLabel top" style="">
        <label for="guideContainer-{{{ panelPath }}}-guideradiobutton___widget" id="guideContainer-{{{ panelPath }}}-guideradiobutton___label">{{{ label }}}</label>
      </div>
      <div class="guideRadioButtonGroupItems" style=";">
        <div class="guideRadioButtonItem afRadioButtonItem guideFieldHorizontalAlignment  {{{ name }}}" data-original-title="" title="">
          <div class="guideFieldWidget left XfaCheckBox" data-id="{{{ label1Id }}}" data-original-title="" title="">
            <input type="radio" id="guideContainer-{{{ panelPath }}}-guideradiobutton__-1_widget" name="guideContainer-{{{ panelPath }}}-guideradiobutton___jqName" tabindex="0" aria-label="{{{ label1Name }}}" aria-selected="false" placeholder="" style="position: relative;">
          </div>
          <div class="guideWidgetLabel right">
            <label for="guideContainer-{{{ panelPath }}}-guideradiobutton__-1_widget">{{{ label1Name }}}</label>
          </div>
        </div>
        <div class="guideRadioButtonItem afRadioButtonItem guideFieldHorizontalAlignment  {{{ name }}}" data-original-title="" title="">
          <div class="guideFieldWidget left XfaCheckBox" data-id="{{{ label2Id }}}" data-original-title="" title="">
            <input type="radio" id="guideContainer-{{{ panelPath }}}-guideradiobutton__-2_widget" name="guideContainer-{{{ panelPath }}}-guideradiobutton___jqName" tabindex="0" aria-label="{{{ label2Name }}}" aria-selected="false" placeholder="" style="position: relative;">
          </div>
          <div class="guideWidgetLabel right">
            <label for="guideContainer-{{{ panelPath }}}-guideradiobutton__-2_widget">{{{ label2Name }}}</label>
          </div>
        </div>
      </div>
      <div class="guideFieldError"></div>
    </div>
  </div>
</div>
