// stylelint-disable declaration-no-important

&__nav-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 0 !important;
  left: 0;
  margin-top: 47px;
  position: fixed;
  top: 0;
  width: 100%;

  // Level 1
  .dropdown {
    position: static;
  }

  @include media-breakpoint-down(md) {
    background-color: color('charcoal');
    overflow-x: hidden;
    transition: height .3s ease-in-out;

    .brand-header__nav,
    .brand-header__admin {
      opacity: 0;
      transition: opacity .3s ease-in-out;
      transition-delay: .2s;
    }

    &::after {
      background-color: rgba($white, .5);
      content: ' ';
      display: block;
      height: calc(100% - #{$header-height-md});
      pointer-events: none;
      position: fixed;
      right: 0;
      top: $header-height-md;
      width: calc(100vw - 320px);
    }

    &.show {
      height: calc(100vh - #{$header-height-sm}) !important;

      .brand-header__nav,
      .brand-header__admin {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &.show {
      height: calc(100% - 47px) !important;
    }

    &::after {
      height: calc(100% - #{$header-height-sm});
      top: $header-height-sm;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.collapse):not(.collapsing) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: $header-height-md;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    height: $header-height;
    margin-top: 0;
    position: static;
    width: calc(100% - 176px);
  }

  @include media-breakpoint-up(xl) {
    height: $header-height-xl;
  }

  @include media-breakpoint-down(md) {
    background-color: color('charcoal');
    max-width: 320px;
    overflow-y: auto;
  }
}
