

@each $direction in map-keys($spacing-modifiers) {
  $level-map: map-get($spacing-modifiers, $direction);
  @each $level in map-keys($level-map) {
    .spacing-#{$direction}-#{$level} {
      @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $spaces: map-deep-get($spacing-modifiers, $direction, $level);
          $space: map-get($spaces, $breakpoint);
          padding-bottom: $space;
          padding-top: $space;
        }
      }
    }
  }
}
